{% extends 'unfold/layouts/unauthenticated.html' %}
{% load unfold %}
{% block content %}
  {% include "unfold/helpers/unauthenticated_title.html" with title=title subtitle=site_title %}
  {% include "unfold/helpers/messages.html" %}
  {% block cuerpo %}{% endblock %}
  <div class="mt-6">
    {% url 'admin:login' as login_url %}
    {% component "unfold/components/button.html" with href=login_url variant="secondary" class="w-full" %}Volver a iniciar sesión{% endcomponent %}
  </div>
{% endblock %}
