{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Tipo de comisión:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de comisión institucional.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tipo_comision }}
        </div>
    </div>
    </p>
    <p><strong>Al interior o al exterior del CIGA:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Al interior o al exterior del CIGA."><i class="fa fa-question-circle"></i></a> <i
                class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_institucion }}
        </div>
    </div>
    </p>
    <div id="d_institucion">
        <p>
            <strong>Institución:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Institución donde se llevó a cabo la comisión.">
                <i class="fa fa-question-circle"></i></a>
            <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.institucion }}

                <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
                </div>

                <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
                </div>
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del servicio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del servicio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        var id_institucion = $("#id_institucion");
        var d_institucion = $("#d_institucion");
        var tipo_institucion = $("#tipo_institucion");

        d_institucion.hide();

        tipo_institucion.on('change', function () {
            if (tipo_institucion.val() === 'EXTERIOR') {
                d_institucion.show('slow');
                id_institucion.attr("required", "true");
            } else {
                id_institucion.attr("required", null);
                id_institucion.val(null).trigger('change');
                d_institucion.hide('slow');
            }
        });
    </script>
{% endblock %}

{% block form_detalle %}
    <p><strong>Tipo de comisión:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de comisión institucional.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tipo_comision }}
        </div>
    </div>
    </p>
    <p><strong>Al interior o al exterior del CIGA:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Al interior o al exterior del CIGA."><i class="fa fa-question-circle"></i></a> <i
                class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_institucion }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo la comisión.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo la comisión, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen. En caso de no existir una dependencia hija de una institución, es necesario que exista entonces una dependencia con el mismo nombre que la institución y que pertenezca a ella.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del servicio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del servicio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        var id_institucion = $("#id_institucion");
        var d_institucion = $("#d_institucion");
        var tipo_institucion = $("#tipo_institucion");

        d_institucion.hide();

        if (tipo_institucion.val() === 'EXTERIOR') {
            d_institucion.show('slow');
            id_institucion.attr("required", "true");
        } else {
            id_institucion.attr("required", null);
            id_institucion.val(null).trigger('change');
            d_institucion.hide('slow');
        }

        tipo_institucion.on('change', function () {
            if (tipo_institucion.val() === 'EXTERIOR') {
                d_institucion.show('slow');
                id_institucion.attr("required", "true");
            } else {
                id_institucion.attr("required", null);
                id_institucion.val(null).trigger('change');
                d_institucion.hide('slow');
            }
        });
    </script>
{% endblock %}