SECRET_KEY=cambia-esto-por-una-cadena-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# CSRF_TRUSTED_ORIGINS=https://sia.ciga.unam.mx

# postgresql (por defecto) o sqlite
DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sia
DB_USER=
DB_PASSWORD=

