Django>=6.1,<6.2
django-unfold>=0.108
python-decouple>=3.8
psycopg[binary]>=3.2
Pillow>=11.0
weasyprint>=70
python-docx>=1.2
django-simple-history>=3.13
openpyxl>=3.1
django-cities-light>=3.11
phonenumbers>=9.0
