<div class="modal fade" id="agregar-dependencia" style="overflow:hidden;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar dependencia</h4>
            </div>
            <div class="modal-body">
                <div id="agregar-dependencia-modal-body"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detalle-dependencia" style="overflow:hidden;" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalle dependencia</h4>
            </div>
            <div class="modal-body">
                <div id="detalle-dependencia-modal-body"></div>
            </div>
        </div>
    </div>
</div>

<script>


    $("#agregar-dependencia").on('shown.bs.modal', function () {
        $('#agregar-dependencia-modal-body').load('/nucleo/dependencias/agregar/', function () {
            $("#id_institucion_dependencia").djangoSelect2({dropdownParent: $("#agregar-dependencia")});
        })
    });


    $("#detalle-dependencia").on('shown.bs.modal', function () {
            console.log($("#id_dependencia").val())
            $("#detalle-dependencia").removeData()
            $('#detalle-dependencia-modal-body').html('');
            $('#detalle-dependencia-modal-body').load(('/nucleo/dependencias/' + $("#id_dependencia").val().toString()) + "/", function () {
                $("#id_institucion_dependencia").djangoSelect2({dropdownParent: $("#detalle-dependencia")});
            })
    });


    $("#detalle-dependencia").on('hide.bs.modal', function () {

        $("#detalle-dependencia").removeData()
        $('#detalle-dependencia-modal-body').html('');
        //$("#id_dependencia").val(null)
        alert("aqui")
    });



</script>