<div class="form-group" style="margin-top: -10px;">
    <div class="input-group date">
        <div class="input-group-addon">
            <i class="fa fa-sort-numeric-desc"></i>
        </div>
        <input class="form-control pull-right" id="id_{{ widget.name }}" maxlength="255" type="number" min=0 name="{{ widget.name }}" required=""
               type="text"{% if widget.value %} value="{{ widget.value }}"{% endif %}>
        <div class="input-group-addon">
            <a href="#"><i class="fa fa-question-circle"></i></a>
        </div>

    </div>
    <p>{{ widget.helptext }}</p>
</div>