{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Actividad de apoyo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Actividad de apoyo."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.actividad }}
        </div>
    </div>
    </p>
    <div id="d_actividad_otra">
        <p><strong>Otra actividad de apoyo:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Otra actividad de apoyo.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.actividad_otra }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la actividad."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de finalización de la actividad."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado a la actividad.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <span id="boton-detalle-proyectoinvestigacion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar los detalles adicionales del proyecto. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos/" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>

    <script>
        var id_actividad = $("#id_actividad");
        var id_actividad_otra = $("#id_actividad_otra");
        var d_actividad_otra = $("#d_actividad_otra");

        d_actividad_otra.hide();

        id_actividad.on('change', function () {
            console.log(id_actividad.val());
            if (id_actividad.val() === '1') {
                id_actividad_otra.attr('required', 'true');
                d_actividad_otra.show('slow');
            } else {
                id_actividad_otra.val(null).trigger('change');
                id_actividad_otra.attr('required', null);
                d_actividad_otra.hide('slow');
            }
        })
    </script>

{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Actividad de apoyo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Actividad de apoyo."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.actividad }}
        </div>
    </div>
    </p>
    <div id="d_actividad_otra">
        <p><strong>Otra actividad de apoyo:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Otra actividad de apoyo.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.actividad_otra }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la actividad."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de finalización de la actividad."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado a la actividad.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <span id="boton-detalle-proyectoinvestigacion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar los detalles adicionales del proyecto. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos/" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>

    <script>
        var id_actividad = $("#id_actividad");
        var id_actividad_otra = $("#id_actividad_otra");
        var d_actividad_otra = $("#d_actividad_otra");

        d_actividad_otra.hide();

        if (id_actividad.val() === '1') {
            id_actividad_otra.attr('required', 'true');
            d_actividad_otra.show();
        } else {
            id_actividad_otra.val(null).trigger('change');
            id_actividad_otra.attr('required', null);
            d_actividad_otra.hide();
        }

        id_actividad.on('change', function () {
            console.log(id_actividad.val());
            if (id_actividad.val() === '1') {
                id_actividad_otra.attr('required', 'true');
                d_actividad_otra.show('slow');
            } else {
                id_actividad_otra.val(null).trigger('change');
                id_actividad_otra.attr('required', null);
                d_actividad_otra.hide('slow');
            }
        })
    </script>
{% endblock %}