{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Título del libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título del libro de investigación publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Pais donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
        </div>
    </div>
    </p>
    <p><strong>Ciudad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ciudad donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.ciudad_text }}
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.editorial_text }}
        </div>
    </div>
    </p>
    <p><strong>Tipo de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Seleccionar según sea el caso: Autoría cuando el o los autores pertenecen al CIGA; Compilado cuando es una compilación, y los compiladores son del CIGA pero los autores pueden ser externos."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_participacion }}
        </div>
    </div>
    </p>
    <div id="d_autores">
        <p><strong>Autores:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Autores del libro, no confundir con autores de capítulo, si usted está agregando este libro para asociarlo a un capitulo en cuyo capítulo es autor, debe agrear su nombre en el campo autores en el capitulo, no en el libro.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-users"></i></div>
                {{ form.autores }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales de los autores.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_coordinadores">
        <p><strong>Coordinadores:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Coordinadores del libro, al escribir el inicio del nombre o apellido se filtran
                                los resultados que coincidan con la busqueda.">
                <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-users"></i></div>
                {{ form.coordinadores }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales de los coordinadores.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un coordinador nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <p><strong>Autores como se reportan en el libro: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Autores tal cual se reportan en el libro, en el orden y forma.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Agradecimientos:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Técnicos que tuvieron participación en el desarrollo del libro y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <div id="d_fecha_enviado">
        <p><strong>Fecha de enviado:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que se envío del artículo."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enviado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_aceptado">
        <p><strong>Fecha de aceptación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que artículo fue aceptado."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_aceptado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_enprensa">
        <p><strong>Fecha de envío a prensa:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que el artículo es envíado a prensa antes de su publicación."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enprensa }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_publicado">
        <p><strong>Fecha de publicación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha de publicación del artículo."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_publicado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_isbn">
        <p><strong>ISBN:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="ISBN, también conocido como Número estándar internacional de libro. Debe estar en la forma estandar de ISBN, solo puede contener letras y guiones, cualquier otro caracter es inválido. No debe tener espacios.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.isbn }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha de publicación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de publicación del libro.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de publicación del libro."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de edición:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de edición. Así sea la primera, indicar el número.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_edicion }}
        </div>
    </div>
    </p>
    <p><strong>Número de páginas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de páginas.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_paginas }}
        </div>
    </div>
    </p>
    <p><strong>Colección:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Si el libro pertenece a una colección, escribir el nombre de dicha colección.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.coleccion_text }}
        </div>
    </div>
    </p>
    <p><strong>Volumen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número o letra de volumen de la revista (si aplica)."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.volumen }}
        </div>
    </div>
    </p>
    <p><strong>URL de link al libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al libro, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Libro arbitrado por pares: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo fue publicado sólo en un medio electronico?."><i class="fa fa-question-circle"></i></a>
        {{ form.arbitrado_pares }}</p>


    <script>
        var id_autores = $("#id_autores");
        var d_autores = $("#d_autores");
        var id_coordinadores = $("#id_coordinadores");
        var d_coordinadores = $("#d_coordinadores");
        var id_isbn = $("#id_isbn");
        var d_isbn = $("#d_isbn");
        var id_tipo_participacion = $("#id_tipo_participacion");

        var id_status = $("#id_status");

        var d_fecha_enviado = $("#d_fecha_enviado");
        var d_fecha_aceptado = $("#d_fecha_aceptado");
        var d_fecha_enprensa = $("#d_fecha_enprensa");
        var d_fecha_publicado = $("#d_fecha_publicado");
        var id_fecha_enviado = $("#id_fecha_enviado");
        var id_fecha_aceptado = $('#id_fecha_aceptado');
        var id_fecha_enprensa = $('#id_fecha_enprensa');
        var id_fecha_publicado = $('#id_fecha_publicado');

        d_isbn.hide();
        d_autores.hide();
        d_coordinadores.hide();
        d_fecha_enviado.hide();
        d_fecha_aceptado.hide();
        d_fecha_enprensa.hide();
        d_fecha_publicado.hide();

        id_status.on('change', function () {
            if (id_status.val() === 'ENVIADO') {
                d_fecha_enviado.show('slow');
                id_fecha_enviado.attr("required", "true");
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'ACEPTADO') {
                d_fecha_aceptado.show('slow');
                id_fecha_aceptado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'EN_PRENSA') {
                d_fecha_enprensa.show('slow');
                id_fecha_enprensa.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'PUBLICADO') {
                d_fecha_publicado.show('slow');
                id_fecha_publicado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
            } else {
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            }
        });

        id_tipo_participacion.on('change', function () {
                if (id_tipo_participacion.val() == 'AUTORIA') {
                    d_autores.show('slow');
                    id_autores.attr("required", "true");
                    id_coordinadores.val(null).trigger('change');
                    d_coordinadores.hide('slow');
                    id_coordinadores.attr("required", null);
                } else if (id_tipo_participacion.val() == 'COMPILACION') {
                    d_coordinadores.show('slow');
                    id_coordinadores.attr("required", "true");
                    id_autores.val(null).trigger('change');
                    d_autores.hide('slow');
                    id_autores.attr("required", null);
                } else {
                    d_autores.hide('slow');
                    d_coordinadores.hide('slow');
                    id_autores.attr("required", null);
                    id_coordinadores.attr("required", null);
                    id_autores.val(null).trigger('change');
                    id_coordinadores.val(null).trigger('change');
                }
            }
        );

        id_status.on('change', function () {
                if (id_status.val() == 'PUBLICADO' || id_status.val() == 'EN_PRENSA') {
                    d_isbn.show('slow');
                    id_isbn.attr("required", "true");
                } else {
                    id_isbn.val("");
                    d_isbn.hide('slow');
                    id_isbn.attr("required", null);
                }
            }
        );

        id_autores.on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });

        id_coordinadores.on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Título del libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título del libro de investigación publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Pais donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
        </div>
    </div>
    </p>
    <p><strong>Ciudad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ciudad donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.ciudad_text }}
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.editorial_text }}
        </div>
    </div>
    </p>
    <p><strong>Tipo de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Seleccionar según sea el caso: Autoría cuando el o los autores pertenecen al CIGA; Compilado cuando es una compilación, y los compiladores son del CIGA pero los autores pueden ser externos."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_participacion }}
        </div>
    </div>
    </p>
    <div id="d_autores">
        <p><strong>Autores:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Autores del libro, no confundir con autores de capítulo, si usted está agregando este libro para asociarlo a un capitulo en cuyo capítulo es autor, debe agrear su nombre en el campo autores en el capitulo, no en el libro.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-users"></i></div>
                {{ form.autores }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales de los autores.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_coordinadores">
        <p><strong>Coordinadores:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Coordinadores del libro, al escribir el inicio del nombre o apellido se filtran
                                los resultados que coincidan con la busqueda.">
                <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-users"></i></div>
                {{ form.coordinadores }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales de los coordinadores.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un coordinador nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <p><strong>Autores como se reportan en el libro: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Autores tal cual se reportan en el libro, en el orden y forma.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Agradecimientos:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Técnicos que tuvieron participación en el desarrollo del libro y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <div id="d_fecha_enviado">
        <p><strong>Fecha de enviado:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que se envío del artículo."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enviado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_aceptado">
        <p><strong>Fecha de aceptación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que artículo fue aceptado."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_aceptado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_enprensa">
        <p><strong>Fecha de envío a prensa:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que el artículo es envíado a prensa antes de su publicación."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enprensa }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_publicado">
        <p><strong>Fecha de publicación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha de publicación del artículo."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_publicado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_isbn">
        <p><strong>ISBN:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="ISBN, también conocido como Número estándar internacional de libro. Debe estar en la forma estandar de ISBN, solo puede contener letras y guiones, cualquier otro caracter es inválido. No debe tener espacios.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.isbn }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha de publicación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de publicación del libro.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de publicación del libro."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de edición:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de edición. Así sea la primera, indicar el número.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_edicion }}
        </div>
    </div>
    </p>
    <p><strong>Número de páginas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de páginas.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_paginas }}
        </div>
    </div>
    </p>
    <p><strong>Colección:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Si el libro pertenece a una colección, escribir el nombre de dicha colección.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.coleccion_text }}
        </div>
    </div>
    </p>
    <p><strong>Volumen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número o letra de volumen de la revista (si aplica)."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.volumen }}
        </div>
    </div>
    </p>
    <p><strong>URL de link al libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al libro, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Libro arbitrado por pares: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo fue publicado sólo en un medio electronico?."><i class="fa fa-question-circle"></i></a>
        {{ form.arbitrado_pares }}</p>


    <script>
        $('#d_isbn').hide();
        $('#d_autores').hide();
        $('#d_coordinadores').hide();

        if ($("#id_tipo_participacion").val() == 'AUTORIA') {
            $('#d_autores').show();
        }
        if ($("#id_tipo_participacion").val() == 'COMPILACION') {
            $('#d_coordinadores').show();
        }

        $("#id_tipo_participacion").on('change', function () {
                if ($("#id_tipo_participacion").val() == 'AUTORIA') {
                    $('#d_autores').show('slow');
                    $('#id_autores').attr("required", "true");
                    $('#id_coordinadores').val(null).trigger('change');
                    $('#d_coordinadores').hide('slow');
                    $('#id_coordinadores').attr("required", null);
                } else if ($("#id_tipo_participacion").val() == 'COMPILACION') {
                    $('#d_coordinadores').show('slow');
                    $('#id_coordinadores').attr("required", "true");
                    $('#id_autores').val(null).trigger('change');
                    $('#d_autores').hide('slow');
                    $('#id_autores').attr("required", null);
                } else {
                    $('#d_autores').hide('slow');
                    $('#d_coordinadores').hide('slow');
                    $('#id_autores').attr("required", null);
                    $('#id_coordinadores').attr("required", null);
                    $('#id_autores').val(null).trigger('change');
                    $('#id_coordinadores').val(null).trigger('change');
                }
            }
        );

        if ($("#id_status").val() == 'PUBLICADO' || $("#id_status").val() == 'EN_PRENSA') {
            $('#d_isbn').show();
        }

        $("#id_status").on('change', function () {
                if ($("#id_status").val() == 'PUBLICADO' || $("#id_status").val() == 'EN_PRENSA') {
                    $('#d_isbn').show('slow');
                    $('#id_isbn').attr("required", "true");
                } else {
                    $("#id_isbn").val("");
                    $('#d_isbn').hide('slow');
                    $('#id_isbn').attr("required", null);
                }
            }
        );
    </script>

    <script>
        $("#id_autores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $("#id_coordinadores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}