{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título del libro:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Título del libro de investigación publicado.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>

        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>País:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un país nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Pais donde se publicó el libro de investigación.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Estado:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.estado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del estado seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un estado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Estado donde se publicó el libro de investigación. La selección del estado depende del país, la lista de estados depende del país seleccionado. Si no se selecciona previamente un pais se enlistan todos los estados registrados de todos los paises existentes.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>


    <p><strong>País:</strong>{{ form.pais }}</p>
    <p><strong>Estado:</strong>{{ form.estado }}</p>
    <p><strong>Ciudad:</strong>{{ form.ciudad }}</p>
    <p><strong>Editorial:</strong>{{ form.editorial }}</p>
    <p><strong>Autores:</strong>{{ form.usuarios }}</p>
    <p><strong>Editores:</strong>{{ form.editores }}</p>
    <p><strong>Coordinadores:</strong>{{ form.coordinadores }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
    <p><strong>Número de edición:</strong>{{ form.numero_edicion }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Coleccion:</strong>{{ form.coleccion }}</p>
    <p><strong>Volumen:</strong>{{ form.volumen }}</p>
    <p><strong>ISBN:</strong>{{ form.isbn }}</p>
    <p><strong>URL:</strong>{{ form.url }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Título del Libro:</strong>{{ form.nombre }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>País:</strong>{{ form.pais }}</p>
    <p><strong>Estado:</strong>{{ form.estado }}</p>
    <p><strong>Ciudad:</strong>{{ form.ciudad }}</p>
    <p><strong>Editorial:</strong>{{ form.editorial }}</p>
    <p><strong>Autores:</strong>{{ form.usuarios }}</p>
    <p><strong>Editores:</strong>{{ form.editores }}</p>
    <p><strong>Coordinadores:</strong>{{ form.coordinadores }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
    <p><strong>Número de edición:</strong>{{ form.numero_edicion }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Coleccion:</strong>{{ form.coleccion }}</p>
    <p><strong>Volumen:</strong>{{ form.volumen }}</p>
    <p><strong>ISBN:</strong>{{ form.isbn }}</p>
    <p><strong>URL:</strong>{{ form.url }}</p>
{% endblock %}