{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título:</strong>{{ form.titulo }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Escala:</strong>{{ form.escala }}</p>
    <p><strong>Usuarios:</strong>{{ form.usuarios }}</p>
    <p><strong>Editores:</strong>{{ form.editores }}</p>
    <p><strong>Coordinadores:</strong>{{ form.coordinadores }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Modalidad:</strong>{{ form.modalidad }}</p>
    <p><strong>País:</strong>{{ form.pais }}</p>
    <p><strong>Estado:</strong>{{ form.estado }}</p>
    <p><strong>Ciudad:</strong>{{ form.ciudad }}</p>
    <p><strong>Editorial:</strong>{{ form.editorial }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
    <p><strong>Número de edición:</strong>{{ form.numero_edicion }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Coleccion:</strong>{{ form.coleccion }}</p>
    <p><strong>Volumen:</strong>{{ form.coleccion }}</p>
    <p><strong>ISBN:</strong>{{ form.isbn }}</p>
    <p><strong>Proyectos:</strong>{{ form.proyectos }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Título:</strong>{{ form.titulo }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Escala:</strong>{{ form.escala }}</p>
    <p><strong>Usuarios:</strong>{{ form.usuarios }}</p>
    <p><strong>Editores:</strong>{{ form.editores }}</p>
    <p><strong>Coordinadores:</strong>{{ form.coordinadores }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Modalidad:</strong>{{ form.modalidad }}</p>
    <p><strong>País:</strong>{{ form.pais }}</p>
    <p><strong>Estado:</strong>{{ form.estado }}</p>
    <p><strong>Ciudad:</strong>{{ form.ciudad }}</p>
    <p><strong>Editorial:</strong>{{ form.editorial }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
    <p><strong>Número de edición:</strong>{{ form.numero_edicion }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Número de páginas:</strong>{{ form.numero_paginas }}</p>
    <p><strong>Coleccion:</strong>{{ form.coleccion }}</p>
    <p><strong>Volumen:</strong>{{ form.coleccion }}</p>
    <p><strong>ISBN:</strong>{{ form.isbn }}</p>
    <p><strong>Proyectos:</strong>{{ form.proyectos }}</p>
{% endblock %}