{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Asignatura o curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Asignatura o curso impartido.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.asignatura }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la asignatura o curso.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/asignaturas" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una asignatura o cuerso nuevos. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Tipo de curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso (si forma parte de un diplomado, etc). Puede ir vacío si no hay información para este campo.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tipo_curso }}
        </div>
    </div>
    </p>


    <p><strong>Modalidad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Modalidad del curso."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.modalidad }}
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo el curso, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo el curso, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Total de horas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número total de horas del curso.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.total_horas }}
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>


    <script>
        $('#d_licenciatura').hide();
        $('#d_maestria').hide();
        $('#d_doctorado').hide();


        $("#id_nivel").on('change', function () {
                if ($("#id_nivel").val() == 'OTRO') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'LICENCIATURA') {
                    $('#d_licenciatura').show();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'MAESTRIA') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#d_maestria').show();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'DOCTORADO') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#d_doctorado').show();
                } else {
                    $('#d_licenciatura').show();
                    $('#d_maestria').show();
                    $('#d_doctorado').show();
                }
            }
        );
    </script>

{% endblock %}

{% block form_detalle %}
    <p><strong>Asignatura:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Asignatura impartida.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.asignatura }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la asignatura.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/asignaturas" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una asignatura nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Tipo de curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso (si forma parte de un diplomado, etc). Puede ir vacío si no hay información para este campo.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tipo_curso }}
        </div>
    </div>
    </p>
    <p><strong>Modalidad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Modalidad del curso."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.modalidad }}
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo el curso, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo el curso, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Total de horas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número total de horas del curso.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.total_horas }}
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>

    <script>
        $('#d_licenciatura').hide();
        $('#d_maestria').hide();
        $('#d_doctorado').hide();

        if ($("#id_nivel").val() == 'LICENCIATURA') {
            $('#d_licenciatura').show();
        } else if ($("#id_nivel").val() == 'MAESTRIA') {
            $('#d_maestria').show();
        } else if ($("#id_nivel").val() == 'DOCTORADO') {
            $('#d_doctorado').show();
        } else {
            $('#d_licenciatura').hide();
            $('#d_maestria').hide();
            $('#d_doctorado').hide();
        }

        $("#id_nivel").on('change', function () {
                if ($("#id_nivel").val() == 'OTRO') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'LICENCIATURA') {
                    $('#d_licenciatura').show();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'MAESTRIA') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#d_maestria').show();
                    $('#id_doctorado').val(null).trigger("change");
                    $('#d_doctorado').hide();
                } else if ($("#id_nivel").val() == 'DOCTORADO') {
                    $('#id_licenciatura').val(null).trigger("change");
                    $('#d_licenciatura').hide();
                    $('#id_maestria').val(null).trigger("change");
                    $('#d_maestria').hide();
                    $('#d_doctorado').show();
                } else {
                    $('#d_licenciatura').show();
                    $('#d_maestria').show();
                    $('#d_doctorado').show();
                }
            }
        );
    </script>

{% endblock %}