{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Nivel:</strong>{{ form.nivel }}</p>
    <p><strong>Licenciatura:</strong>{{ form.licenciatura }}</p>
    <p><strong>Maestria:</strong>{{ form.maestria }}</p>
    <p><strong>Doctorado:</strong>{{ form.doctorado }}</p>
    <p><strong>Asignatura:</strong>{{ form.asignatura }}</p>
    <p><strong>Modalidad:</strong>{{ form.modalidad }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>Total de horas:</strong>{{ form.total_horas }}</p>
    <p><strong>Otras dependencias participantes:</strong>{{ form.otras_dependencias_participantes }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Nivel:</strong>{{ form.nivel }}</p>
    <p><strong>Licenciatura:</strong>{{ form.licenciatura }}</p>
    <p><strong>Maestria:</strong>{{ form.maestria }}</p>
    <p><strong>Doctorado:</strong>{{ form.doctorado }}</p>
    <p><strong>Asignatura:</strong>{{ form.asignatura }}</p>
    <p><strong>Modalidad:</strong>{{ form.modalidad }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>Total de horas:</strong>{{ form.total_horas }}</p>
    <p><strong>Otras dependencias participantes:</strong>{{ form.otras_dependencias_participantes }}</p>   
{% endblock %}