{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Tipo de curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso (si forma parte de un diplomado, etc). Puede ir vacío si no hay información para este campo.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_curso }}
        </div>
    </div>
    </p>
    <div id="d_tipocurso_otro">
        <p><strong>Otro tipo de curso:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Especificar tipo de curso impartido."><i
                    class="fa fa-question-circle"></i></a>
            <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.tipocurso_otro }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Asignatura o curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la asignatura o curso impartido."><i
                class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.asignatura_text }}
        </div>
    </div>
    </p>
    <p><strong>Modalidad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Modalidad del curso.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.modalidad }}
        </div>
    </div>
    </p>
    <p><strong>Clasificación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Clasificación, si se trata de apoyo al posgrado en Geografía o de un curso de capacitación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.clasificacion }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se impartió el curso.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Total de horas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número total de horas del curso.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.total_horas }}
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>

    <script>
        var id_tipo_curso = $("#id_tipo_curso");
        var d_tipocurso_otro = $("#d_tipocurso_otro");
        var id_tipocurso_otro = $("#id_tipocurso_otro");

        d_tipocurso_otro.hide();

        id_tipo_curso.on('change', function () {
            if (id_tipo_curso.val() === 'OTRO') {
                d_tipocurso_otro.show('slow');
                id_tipocurso_otro.attr("required", "true");
            } else {
                id_tipocurso_otro.attr("required", null);
                id_tipocurso_otro.val(null).trigger('change');
                d_tipocurso_otro.hide('slow');
            }
        });
    </script>
{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Tipo de curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso (si forma parte de un diplomado, etc). Puede ir vacío si no hay información para este campo.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo_curso }}
        </div>
    </div>
    </p>
    <div id="d_tipocurso_otro">
        <p><strong>Otro tipo de curso:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Especificar tipo de curso impartido."><i
                    class="fa fa-question-circle"></i></a>
            <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.tipocurso_otro }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Asignatura o curso:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la asignatura o curso impartido."><i
                class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.asignatura_text }}
        </div>
    </div>
    </p>
    <p><strong>Modalidad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Modalidad del curso.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.modalidad }}
        </div>
    </div>
    </p>
    <p><strong>Clasificación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Clasificación, si se trata de apoyo al posgrado en Geografía o de un curso de capacitación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.clasificacion }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se impartió el curso.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Total de horas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número total de horas del curso.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.total_horas }}
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>

    <script>
        var id_tipo_curso = $("#id_tipo_curso");
        var d_tipocurso_otro = $("#d_tipocurso_otro");
        var id_tipocurso_otro = $("#id_tipocurso_otro");

        d_tipocurso_otro.hide();
        if (id_tipo_curso.val() === 'OTRO') {
            d_tipocurso_otro.show('slow');
            id_tipocurso_otro.attr("required", "true");
        } else {
            id_tipocurso_otro.attr("required", null);
            id_tipocurso_otro.val(null).trigger('change');
            d_tipocurso_otro.hide('slow');
        }

        id_tipo_curso.on('change', function () {
            if (id_tipo_curso.val() === 'OTRO') {
                d_tipocurso_otro.show('slow');
                id_tipocurso_otro.attr("required", "true");
            } else {
                id_tipocurso_otro.attr("required", null);
                id_tipocurso_otro.val(null).trigger('change');
                d_tipocurso_otro.hide('slow');
            }
        });
    </script>
{% endblock %}