{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Nombre del programa:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del programa de estudio.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Nivel:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico del programa desarrollado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se desarrolló el programa de estudio.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de creaciòn del programa de estudio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
        <p><strong>Nombre del programa:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del programa de estudio.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Nivel:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico del programa desarrollado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se desarrolló el programa de estudio.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de creaciòn del programa de estudio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}