{% extends 'main.html' %}

{% block form_agregar %}
    {{ form1.as_p }}




    <!-- <div class="form-group">
        <label>Nombre del curso:</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-sticky-note-o"></i>
            </div>
            <input class="form-control pull-right" id="id_nombre_curso" maxlength="255" name="nombre_curso" required=""
                   type="text">
            <div class="input-group-addon">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Descripción del curso</label>
        <textarea class="form-control" rows="3" placeholder="Descripción y detalles adicionales del curso"></textarea>

    </div> -->




    <div class="form-group">
    <label>Opciones:</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <select class="js-placeholder-single" style="width: 100%; line-height: 22px;">
            <option></option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
        </select>
        <div class="input-group-addon">
            <i class="fa fa-question-circle"></i>
        </div>
    </div>
    <br/> 







    <!-- <div class="form-group">
        <label>Date:</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input data-provide="datepicker" class="datepicker form-control pull-right" id="datepicker" type="text">
            <div class="input-group-addon">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div> -->




    <br>


{% endblock %}

{% block form_detalle %}
    <p>detalle</p>

{% endblock %}