{% extends 'ebase.html' %}

{% block content %}


    <div class="box box-solid box-primary nav-tabs-custom">
        <ul class="nav nav-tabs pull-right ui-sortable-handle">

            {% if active == 'curso_detalle' %}
                <li><a href="/{{ plantilla.categoria_url }}/{{ plantilla.seccion_url }}/"
                       aria-expanded="true">{{ plantilla.tab_lista }}</a></li>

                <li {% if active == 'curso_detalle' %}class="active"{% endif %}><a href="#curso_detalle"
                                                                                   data-toggle="tab"
                                                                                   aria-expanded="false">Editar
                    curso</a></li>

                </li>
            {% else %}
                <li {% if active == 'mis_cursos' %}class="active"{% endif %}><a href="#mis-cursos" data-toggle="tab"
                                                                                aria-expanded="true">{{ plantilla.tab_lista }}</a>
                </li>
                <li><a href="#agregar" data-toggle="tab" aria-expanded="true">Agregar curso</a></li>

                </li>
            {% endif %}
            <li class="pull-left header"><i class="fa fa-inbox"></i></li>
        </ul>


        <div class="tab-content no-padding">
            <div id="mis-cursos" class="tab-pane {% if active == 'mis_cursos' %}active{% endif %}">
                <div class="bg-light-blue-active box-header with-border">
                    <h3 class="box-title">Mis cursos de especialización</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <script>
                        jQuery(document).ready(function ($jquery) {
                            $jquery('#cursos_json').dataTable({
                                "iDisplayLength": 15,
                                "ajax": {
                                    "processing": true,
                                    "url": "{% url 'curso_especializacion_lista__json' %}",
                                    "dataSrc": ""
                                },


                                "columns": [
                                    {
                                        "data": "fields.nombre_curso",
                                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                            $(nTd).html("<a href='/{{ plantilla.categoria_url }}/{{ plantilla.seccion_url }}/" + oData.fields.slug + "'>" + oData.fields.nombre_curso + "</a>");
                                        }
                                    },
                                    {"data": "fields.horas"},
                                    {"data": "fields.fecha_inicio"},
                                    {"data": "fields.dependencia"},
                                ]
                            });
                        });
                    </script>


                    <table id="cursos_json" class="dataTables_wrapper form-inline dt-bootstrap" style="width: 100%">
                        <thead>
                        <tr>

                            <th>Curso</th>

                            <th>Horas</th>
                            <th>Inicio</th>
                            <th>Lugar</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div><!-- /.box-body -->

            </div>


            {% if active == 'curso_detalle' %}

                <div id="curso_detalle" class="tab-pane active">
                    <div class="bg-light-blue-active box-header with-border">
                        <h3 class="box-title">Editar curso de especialización</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">


                        <div>
                            <div>
                                <form action="{% url 'curso_especializacion_detalle' slug=curso.slug %}" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Actualizar curso</button>
                                </form>
                            </div>
                        </div>


                    </div><!-- /.box-body -->

                </div>

            {% else %}

                <div id="agregar" class="tab-pane{% if active == 'agregar' %} active{% endif %}">
                    <div class="bg-light-blue-active box-header with-border">
                        <h3 class="box-title">Agregar curso de especialización</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <div>
                                <form action="{% url 'curso_especializacion_lista' %}" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Agregar curso</button>
                                </form>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div>

            {% endif %}

            <div id="otros_cursos" class="tab-pane">
                <div class="bg-light-blue-active box-header with-border">
                    <h3 class="box-title">Cursos de otros miembros</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    otros
                </div><!-- /.box-body -->
            </div>

        </div>

        <!-- <div class="box-footer">
             <div id="has-feedback" class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Buscar...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>--> <!-- box-footer -->
    </div><!-- /.box -->





{% endblock %}