{% extends 'main.html' %}

{% block form_agregar %}
    <!-- <hr />
    <p>agregar</p>-->
    {{ form1.as_p }}
    <div class="form-group">
        <label>Date:</label>

        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input data-provide="datepicker" class="datepicker form-control pull-right" id="datepicker" type="text">
        </div>
        <!-- /.input group -->
    </div>

{% endblock %}

{% block form_detalle %}
    <p>detalle</p>

{% endblock %}