{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Programa de maestria:</strong>{{ form.programa }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Título de tesis:</strong>{{ form.titulo_tesis }}</p>
    <p><strong>Documento de tesis:</strong>{{ form.tesis_doc }}</p>
    <p><strong>URL de tesis:</strong>{{ form.tesis_url }}</p>
    <p><strong>fecha de inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha de fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>fecha de obtención de grado:</strong>{{ form.fecha_grado }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Programa de maestria:</strong>{{ form.programa }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Título de tesis:</strong>{{ form.titulo_tesis }}</p>
    <p><strong>Documento de tesis:</strong>{{ form.tesis_doc }}</p>
    <p><strong>URL de tesis:</strong>{{ form.tesis_url }}</p>
    <p><strong>fecha de inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha de fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>fecha de obtención de grado:</strong>{{ form.fecha_grado }}</p>
{% endblock %}