{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Título de proyecto postdoctoral:</strong>
        <a href="#" data-toggle="tooltip" data-placement="left"
           title="Título de la tesis con que finalizó la licenciatura."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo_proyecto }}
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde llevó a cabo sus estudios de licenciatura.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>
            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Entidad que financió la beca postdoctoral:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Entidad que financió la beca postdoctoral."><i class="fa fa-question-circle"></i></a> <i
                class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.entidad_financiamiento }}
        </div>
    </div>
    </p>
    <div id="d_otra_entidad_financiamiento">
        <p><strong>Otra entidad financiadora:</strong>
            <a href="#" data-toggle="tooltip" data-placement="left"
               title="En caso de haber seleccionado 'otra' en el punto anterior, especificar el nombre en este campo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.otra_entidad_financiamiento }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de postdoctorado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de terminación de postdoctorado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        var d_otra_entidad_financiamiento = $("#d_otra_entidad_financiamiento");
        var id_otra_entidad_financiamiento = $("#id_otra_entidad_financiamiento");
        var id_entidad_financiamiento = $("#id_entidad_financiamiento");

        id_entidad_financiamiento.on('change', function () {
            if (id_entidad_financiamiento == 'OTRA') {
                d_otra_entidad_financiamiento.show('slow')
                id_otra_entidad_financiamiento.attr("required", "true");
            } else {
                d_otra_entidad_financiamiento.hide('slow')
                id_otra_entidad_financiamiento.attr("required", null);
                id_otra_entidad_financiamiento.val(null).trigger('change');
            }
        });
    </script>

{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Título de proyecto postdoctoral:</strong>
        <a href="#" data-toggle="tooltip" data-placement="left"
           title="Título de la tesis con que finalizó la licenciatura."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo_proyecto }}
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde llevó a cabo sus estudios de licenciatura.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>
            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Entidad que financió la beca postdoctoral:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Entidad que financió la beca postdoctoral."><i class="fa fa-question-circle"></i></a> <i
                class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.entidad_financiamiento }}
        </div>
    </div>
    </p>
    <div id="d_otra_entidad_financiamiento">
        <p><strong>Otra entidad financiadora:</strong>
            <a href="#" data-toggle="tooltip" data-placement="left"
               title="En caso de haber seleccionado 'otra' en el punto anterior, especificar el nombre en este campo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.otra_entidad_financiamiento }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de postdoctorado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de terminación de postdoctorado."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        var d_otra_entidad_financiamiento = $("#d_otra_entidad_financiamiento");
        var id_otra_entidad_financiamiento = $("#id_otra_entidad_financiamiento");
        var id_entidad_financiamiento = $("#id_entidad_financiamiento");

        if (id_entidad_financiamiento == 'OTRA') {
            d_otra_entidad_financiamiento.show()
            id_otra_entidad_financiamiento.attr("required", "true");
        } else {
            d_otra_entidad_financiamiento.hide()
            id_otra_entidad_financiamiento.attr("required", null);
            id_otra_entidad_financiamiento.val(null).trigger('change');
        }

        id_entidad_financiamiento.on('change', function () {
            if (id_entidad_financiamiento == 'OTRA') {
                d_otra_entidad_financiamiento.show('slow')
                id_otra_entidad_financiamiento.attr("required", "true");
            } else {
                d_otra_entidad_financiamiento.hide('slow')
                id_otra_entidad_financiamiento.attr("required", null);
                id_otra_entidad_financiamiento.val(null).trigger('change');
            }
        });
    </script>

{% endblock %}