{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Fecha de dictamen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de dictamen del arbitraje."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_dictamen }}
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Fecha de dictamen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de dictamen del arbitraje."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_dictamen }}
        </div>
    </div>
    </p>
{% endblock %}