{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Índices que lo registran:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
            {{ form.indices }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Índices que registran o indexan el arbitraje en sus registros, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Revista:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.revista }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la revista seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/revistas" data-toggle="tooltip" data-placement="left"
                   title="Agregar una revista nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre de la revista del arbitraje."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Libro:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.libro }}
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del libro seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Agregar un libro nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre del libro del arbitraje."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Capítulo en libro de investigación:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.capitulo_libro }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del capítulo en libro de investigación seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/capitulos-libros-investigacion/" data-toggle="tooltip" data-placement="left"
                   title="Agregar un capítulo de libro. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre del capítulo en libro de investigación del arbitraje."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de dictamen:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_dictamen }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de dictamen del arbitraje."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Índices que lo registran:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
            {{ form.indices }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Índices que registran o indexan el arbitraje en sus registros, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Revista:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.revista }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la revista seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/revistas" data-toggle="tooltip" data-placement="left"
                   title="Agregar una revista nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre de la revista del arbitraje."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Libro:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.libro }}
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del libro seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Agregar un libro nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre del libro del arbitraje."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Capítulo en libro de investigación:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.capitulo_libro }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del capítulo en libro de investigación seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/capitulos-libros-investigacion/" data-toggle="tooltip" data-placement="left"
                   title="Agregar un capítulo de libro. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Nombre del capítulo en libro de investigación del arbitraje."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de dictamen:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_dictamen }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de dictamen del arbitraje."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}