{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Actividad de arbitraje:</strong>{{ form.actividad }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Actividad de arbitraje:</strong>{{ form.actividad }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
{% endblock %}