{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Tipo de comisión:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de comisión, si se selecciona otra, especificar abajo cual."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.comision }}
        </div>
    </div>
    </p>
    <div id="d_comision_otra">
        <p><strong>Otra comisión:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Si en el campo anterior se selecciona otra comisión, especificar aquí dicha comisión.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.comision_otra }}
            </div>
        </div>
        </p>
    </div>

    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo el arbitraje.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion2 }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo el arbitraje, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen. En caso de no existir una dependencia hija de una institución, es necesario que exista entonces una dependencia con el mismo nombre que la institución y que pertenezca a ella.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la comisión."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin de la comisión."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        var id_comision = $("#id_comision");
        var id_comision_otra = $("#id_comision_otra");
        var d_comision_otra = $("#d_comision_otra");

        d_comision_otra.hide();

        id_comision.on('change', function () {
            if (id_comision.val() === '1') {
                d_comision_otra.show('slow');
                id_comision_otra.attr("required", "true");
            } else {
                id_comision_otra.val(null).trigger('change');
                id_comision_otra.attr("required", null);
                d_comision_otra.hide('slow');
            }
        })


    </script>

{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Tipo de comisión:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de comisión, si se selecciona otra, especificar abajo cual."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.comision }}
        </div>
    </div>
    </p>
    <p><strong>Otra comisión:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Si en el campo anterior se selecciona otra comisión, especificar aquí dicha comisión.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo el arbitraje.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo el arbitraje, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen. En caso de no existir una dependencia hija de una institución, es necesario que exista entonces una dependencia con el mismo nombre que la institución y que pertenezca a ella.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la comisión."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin de la comisión."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}