{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Nombre de red académica:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de red académica.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Objetivos: <a href="#" data-toggle="tooltip" data-placement="right"
                             title="Descripción detallada de los objetivos."> <i class="fa fa-edit"></i>
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.objetivos }}
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
        </div>
    </div>
    </p>
    <p><strong>Entidades participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Entidades participantes en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.instituciones }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>

    <p><strong>Fecha de constitución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de constitución de la red académica."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_constitucion }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de finalización:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de finalización de la red académica. Se considera como red académica vigente cuando la fecha de fín es posterior a la fecha de hoy, o si el campo está vacío. Si hay fecha de finalización definida, especificarla."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Mostrar los detalles adicionales de los proyectos relacionados.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos/" data-toggle="tooltip" data-placement="right" target="_blank"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Académicos participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Académicos participantes en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.participantes }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los académicos participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un académico nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Nombre de red académica:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de red académica.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Objetivos: <a href="#" data-toggle="tooltip" data-placement="right"
                             title="Descripción detallada de los objetivos."> <i class="fa fa-edit"></i>
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.objetivos }}
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
        </div>
    </div>
    </p>
    <p><strong>Entidades participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Entidades participantes en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.instituciones }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de constitución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de constitución de la red académica."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_constitucion }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de finalización:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de finalización de la red académica. Se considera como red académica vigente cuando la fecha de fín es posterior a la fecha de hoy, o si el campo está vacío. Si hay fecha de finalización definida, especificarla."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Mostrar los detalles adicionales de los proyectos relacionados.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos/" data-toggle="tooltip" data-placement="right" target="_blank"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Académicos participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Académicos participantes en la red académica, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.participantes }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los académicos participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un académico nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}