{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>representacion:</strong>{{ form.representacion }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha fin:</strong>{{ form.fecha_fin }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Cargo:</strong>{{ form.cargo }}</p>
    <p><strong>Descripción:</strong>{{ form.descripcion }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>fecha fin:</strong>{{ form.fecha_fin }}</p>
{% endblock %}