{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Nombre de <em>memoria in extenso</em>:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título de la memoria como aparece publicada.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Evento de donde se recoge la memoria.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.evento }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del evento.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/eventos" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un evento nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Artículos :</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Artículos o incluidos en la memoria, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.articulos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/articulos-cientificos/" data-toggle="tooltip" data-placement="left"
                   target="_blank"
                   title="Agregar un artículo nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Índices donde se registra:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Índices que registra la memoria, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
            {{ form.indices }}
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.editorial }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la editorial seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/editoriales" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una editorial nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>ISBN:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="ISBN asignado a la memoria in extenso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.isbn }}
        </div>
    </div>
    </p>
    <p><strong>URL de link a la memoria:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link a la memoria, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Nombre de <em>memoria in extenso</em>:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título de la memoria como aparece publicada.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Evento de donde se recoge la memoria.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.evento }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del evento.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/eventos" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un evento nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Artículos :</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Artículos o incluidos en la memoria, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.articulos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/articulos-cientificos/" data-toggle="tooltip" data-placement="left"
                   target="_blank"
                   title="Agregar un artículo nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Índices donde se registra:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Índices que registra la memoria, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
            {{ form.indices }}
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.editorial }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la editorial seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/editoriales" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una editorial nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>ISBN:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="ISBN asignado a la memoria in extenso."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.isbn }}
        </div>
    </div>
    </p>
    <p><strong>URL de link a la memoria:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link a la memoria, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
{% endblock %}