{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Tipo de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso."><i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Título de actividad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título o nombre de la actividad realizada en el evento.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del evento donde se publicó la memoria.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.evento_text }}
        </div>
    </div>
    </p>
    <p><strong>Lugar del evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Lugar del evento.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.lugar_evento }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de participación."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución organizadora:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución que organiza el evento.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores participantes en el evento, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un participante nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores como aparecen en la publicación: <a href="#" data-toggle="tooltip" data-placement="right"
                                                           title="Autores como aparecen en la publicación.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito del evento."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
        </div>
    </div>
    </p>
    <p><strong>Participación por invitación: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿La participació fue por invitación?"><i class="fa fa-question-circle"></i></a>
        {{ form.por_invitacion }}
    </p>
    <p><strong>Ponencia Magistral: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿La participación fue ponencia magistral?"><i class="fa fa-question-circle"></i></a>
        {{ form.ponencia_magistral }}
    </p>

    <script>
        $("#id_autores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>
{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Tipo de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de curso."><i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Título de actividad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título o nombre de la actividad realizada en el evento.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del evento donde se publicó la memoria.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.evento_text }}
        </div>
    </div>
    </p>
    <p><strong>Lugar del evento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Lugar del evento.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.lugar_evento }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de participación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de participación."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución organizadora:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución que organiza el evento.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores participantes en el evento, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un participante nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores como aparecen en la publicación: <a href="#" data-toggle="tooltip" data-placement="right"
                                                           title="Autores como aparecen en la publicación.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito del evento."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
        </div>
    </div>
    </p>
    <p><strong>Participación por invitación: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿La participació fue por invitación?"><i class="fa fa-question-circle"></i></a>
        {{ form.por_invitacion }}
    </p>
    <p><strong>Ponencia Magistral: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿La participación fue ponencia magistral?"><i class="fa fa-question-circle"></i></a>
        {{ form.ponencia_magistral }}
    </p>

    <script>
        $("#id_autores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}
