{% extends 'ebase.html' %}
{% block content %}

    <p>Bienvenido {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</p>

    <p>{{ obj }}</p>
    <!-- <p>Horas de cursos de especialización</p>
    <p>{{ chart_cursos_especializacion.as_html }}</p>
    <p>Articulos cientificos publicados</p>
    <p>{{ chart_articulos_investigacion_publicados.as_html }}</p>
    <p>Articulos cientificos en prensa</p>
    <p>{{ chart_articulos_investigacion_enprensa.as_html }}</p>
    <p>Articulos cientificos aceptados</p>
    <p>{{ chart_articulos_investigacion_aceptado.as_html }}</p>
    <p>Libros de investigación publicados</p>
    <p>{{ chart_libros_investigacion_publicado.as_html }}</p>
    <p>Libros de investigación en prensa</p>
    <p>{{ chart_libros_investigacion_enprensa.as_html }}</p>
    <p>Libros de investigación aceptados</p>
    <p>{{ chart_libros_investigacion_aceptados.as_html }}</p> -->
    <p>Capitulos en ibros de investigación publicados</p>
    <p>{{ chart_capitulos_libros_investigacion_publicado.as_html }}</p>
    <p>Capitulos en ibros de investigación en prensa</p>
    <p>{{ chart_capitulos_libros_investigacion_enprensa.as_html }}</p>
    <p>Capitulos en ibros de investigación aceptados</p>
    <p>{{ chart_capitulos_libros_investigacion_aceptado.as_html }}</p>
{% endblock %}

