{% extends 'ebase.html' %}
{% block content %}

    <p>Dashboard contenido prudsadasdsadsadseba</p>

    <script>
        jQuery(document).ready(function ($jquery) {
            $jquery('#cursos_json').dataTable({
                "iDisplayLength": 25,
                "ajax": {
                    "processing": true,
                    "url": "{% url 'cursos_json' %}",
                    "dataSrc": ""
                },


                "columns": [
                    {
                        "data": "fields.nombre_curso",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='curso/" + oData.fields.slug + "'>" + oData.fields.nombre_curso + "</a>");
                        }
                    },
                    {"data": "fields.tipo"},
                    {"data": "fields.horas"},
                    {"data": "fields.dependencia"},
                ]
            });
        });
    </script>


    <div class="box">
        <div class="box-body">
            <table id="cursos_json" class="dataTables_wrapper form-inline dt-bootstrap">
                <thead>
                <tr>

                    <th>nombre_curso</th>
                    <th>Tipo</th>
                    <th>Horas</th>
                    <th>Dependencia</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


{% endblock %}

