{% extends 'ebase.html' %}

{% block content %}

    <p>Bienvenido {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</p>

    <p>{{ obj }}</p>
    <!-- <p>Horas de cursos de especialización</p>
    <p>{{ chart_cursos_especializacion.as_html }}</p>
    <p>Articulos cientificos publicados</p>
    <p>{{ chart_articulos_investigacion_publicados.as_html }}</p>
    <p>Articulos cientificos en prensa</p>
    <p>{{ chart_articulos_investigacion_enprensa.as_html }}</p>
    <p>Articulos cientificos aceptados</p>
    <p>{{ chart_articulos_investigacion_aceptado.as_html }}</p>
    <p>Libros de investigación publicados</p>
    <p>{{ chart_libros_investigacion_publicado.as_html }}</p>
    <p>Libros de investigación en prensa</p>
    <p>{{ chart_libros_investigacion_enprensa.as_html }}</p>
    <p>Libros de investigación aceptados</p>
    <p>{{ chart_libros_investigacion_aceptados.as_html }}</p>
    <p>Capitulos en ibros de investigación publicados</p>
    <p>{{ chart_capitulos_libros_investigacion_publicado.as_html }}</p>
    <p>Capitulos en ibros de investigación en prensa</p>
    <p>{{ chart_capitulos_libros_investigacion_enprensa.as_html }}</p>
    <p>Capitulos en ibros de investigación aceptados</p>
    <p>{{ chart_capitulos_libros_investigacion_aceptado.as_html }}</p>
    <p>Mapas arbitrados publicados</p>
    <p>{{ chart_mapas_arbitrados_publicados.as_html }}</p>
    <p>Mapas arbitrados en prensa</p>
    <p>{{ chart_mapas_arbitrados_enprensa.as_html }}</p>
    <p>Mapas arbitrados aceptados</p>
    <p>{{ chart_mapas_arbitrados_aceptados.as_html }}</p>
    <p>Informes técnicos de acceso publico</p>
    <p>{{ chart_informes_tecnicos.as_html }}</p>
    <p>Proyectos de investigación</p>
    <p>{{ chart_proyectos_investigacion.as_html }}</p>
    <p>Memorias in Extenso</p>
    <p>{{ chart_memoria_in_extenso.as_html }}</p>
    <p>Prologos en libros de investigación publicados</p>
    <p>{{ chart_prologo_libro_investigacion_publicado.as_html }}</p>
    <p>Prologos en libros de investigación en prensa</p>
    <p>{{ chart_prologo_libro_investigacion_enprensa.as_html }}</p>
    <p>Prologos en libros de investigación aceptados</p>
    <p>{{ chart_prologo_libro_investigacion_aceptado.as_html }}</p>
    <p>Reseñas</p>
    <p>{{ chart_resena.as_html }}</p>
    <p>Organización de eventos académicos</p>
    <p>{{ chart_organizacioneventoacademico.as_html }}</p>
    <p>Participación en eventos académicos</p>
    <p>{{ chart_participacioneventoacademico.as_html }}</p>
    <p>Articulos de divulgacion publicados</p>
    <p>{{ chart_articulo_divulgacion_publicados.as_html }}</p>
    <p>Articulos de divulgacion en prensa</p>
    <p>{{ chart_articulo_divulgacion_enprensa.as_html }}</p>
    <p>Articulos de divulgacion aceptados</p>
    <p>{{ chart_articulo_divulgacion_aceptados.as_html }}</p>
    <p>Libros de divulgación publicados</p>
    <p>{{ chart_libros_divulgacion_publicados.as_html }}</p>
    <p>Libros de divulgación en prensa</p>
    <p>{{ chart_libros_divulgacion_enprensa.as_html }}</p>
    <p>Libros de divulgación aceptados</p>
    <p>{{ chart_libros_divulgacion_aceptados.as_html }}</p>
    <p>Capitulos en ibros de divulgación publicados</p>
    <p>{{ chart_capitulos_libros_divulgacion_publicados.as_html }}</p>
    <p>Capitulos en ibros de divulgación en prensa</p>
    <p>{{ chart_capitulos_libros_divulgacion_enprensa.as_html }}</p>
    <p>Capitulos en ibros de divulgación aceptados</p>
    <p>{{ chart_capitulos_libros_divulgacion_aceptados.as_html }}</p>
    <p>Organización de eventos de divulgación</p>
    <p>{{ chart_organizacioneventodivulgacion.as_html }}</p>
    <p>Participación en eventos de divulgación</p>
    <p>{{ chart_participacioneventodivulgacion.as_html }}</p>
    <p>Participación en Programas de Radio, Television, Internet, etc.</p>
    <p>{{ chart_programaradiotelevisioninternet.as_html }}</p>
    <p>Arbitraje de Publicacion Academica</p>
    <p>{{ chart_arbitrajepublicacionacademica.as_html }}</p>
    <p>Docencia Escolarizado</p>
    <p>{{ chart_cursodocencia_escolarizado.as_html }}</p>
    <p>Docencia Extracurricular</p>
    <p>{{ chart_cursodocencia_extracurricular.as_html }}</p> -->

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Horas en cursos de especialización</h3>


                </div>
                <div class="box-body chart-responsive">
                    {{ chart_cursos_especializacion.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de investigación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulos_investigacion_publicados.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de investigación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulos_investigacion_enprensa.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de investigación aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulos_investigacion_aceptado.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de investigación en publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_investigacion_publicado.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de investigación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_investigacion_enprensa.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de investigación en aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_investigacion_aceptados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capítulos en libros de investigación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_investigacion_publicado.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capítulos en libros de investigación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_investigacion_enprensa.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capítulos en libros de investigación aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_investigacion_aceptado.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Mapas arbitrados publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_mapas_arbitrados_publicados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Mapas arbitrados en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_mapas_arbitrados_enprensa.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Mapas arbitrados aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_mapas_arbitrados_aceptados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Informes Técnicos de acceso público</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_informes_tecnicos.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Proyectos de investigación</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_proyectos_investigacion.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Memorias in extenso</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_memoria_in_extenso.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Prologos en libros de investigación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_prologo_libro_investigacion_publicado.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Reseñas</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_resena.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Organización de eventos académicos</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_organizacioneventoacademico.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Participación en eventos académicos</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_participacioneventoacademico.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de divulgación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulo_divulgacion_publicados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de divulgación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulo_divulgacion_enprensa.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Artículos de divulgación aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_articulo_divulgacion_aceptados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de divulgación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_divulgacion_publicados.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de divulgación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_divulgacion_enprensa.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Libros de divulgación aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_libros_divulgacion_aceptados.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capitulos en libros de divulgación publicados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_divulgacion_publicados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capitulos en libros de divulgación en prensa</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_divulgacion_enprensa.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Capitulos en libros de divulgación aceptados</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_capitulos_libros_divulgacion_aceptados.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Organización de eventos de divulgación</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_organizacioneventodivulgacion.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Participación en eventos de divulgación</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_participacioneventodivulgacion.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Participación en Programas de Radio, Television, Internet</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_programaradiotelevisioninternet.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Arbitraje de Publicaciones Academicas</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_arbitrajepublicacionacademica.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Horas de docencia escolarizada</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_cursodocencia_escolarizado.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Horas de docencia extracurricular</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_cursodocencia_extracurricular.as_html }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Desarrollos tecnológicos</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_desarrollo_tecnologico.as_html }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title"> Distinciones recibidas por académicos</h3>
                </div>
                <div class="box-body chart-responsive">
                    {{ chart_distincion_academicos.as_html }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}

