<div class="form-group" style="margin-top: -10px;">
    <div class="input-group date">
        <div class="input-group-addon">
            <i class="fa fa-pencil-square-o"></i>
        </div>



        <div class="input-group-addon">
            <a href="#" data-toggle="tooltip" class="has-popover1" data-placement="left"
               title="Ejemplo de texto de ayuda descriptiva por campo. Aquí deberá ir una explicación del tipo de contenido del campo{{ form.nombre.help_text }}"><i
                    class="fa fa-question-circle"></i></a>
        </div>

    </div>
</div>