{% extends 'ebase.html' %}

{% block content %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>




    <h3>Informe de actividades</h3>

    <div class="row">
        <button id="ocultar-leyendas" class="btn btn-circle btn-danger float-right" style="margin-right: 15px;">Ocultar
            Leyendas
        </button>
        <p><br/><br/></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#finplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#findatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Proyectos financiados</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="finplot">
                        {{ chart_proyectos_investigacion.as_html }}

                        <!-- <hr/>
                        <p>
                            &nbsp;<button class="btn" style="background-color: #0b62a4; color: white">CONACYT</button>
                            <button class="btn" style="background-color: #7a92a3; color: white">PAPIIT</button>
                            <button class="btn" style="background-color: #4da74d; color: white">Externo Nacional
                            </button>
                            <button class="btn" style="background-color: #afd8f8; color: white">Externo Extranjero
                            </button>
                        </p> -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="findatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ this_year_2 }}-{{ this_year_1 }}</th>
                                <th>{{ this_year_1 }}-{{ this_year }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_conc_conacyt }} proyectos con financiamiento CONACYT
                                    concluidos
                                </td>
                                <td>{{ table_proyectos.proy_thisy_conc_conacyt }} proyectos con financiamiento CONACYT
                                    concluidos
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_conc_papiit }} proyectos con financiamiento PAPIIT
                                    concluidos
                                </td>
                                <td>{{ table_proyectos.proy_thisy_conc_papiit }} proyectos con financiamiento PAPIIT
                                    concluidos
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_conc_extnal }} proyectos con financiamiento externo
                                    nacional concluidos
                                </td>
                                <td>{{ table_proyectos.proy_thisy_conc_extnal }} proyectos con financiamiento externo
                                    nacional concluidos
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_conc_extint }} proyectos con financiamiento externo
                                    internacional
                                    concluidos
                                </td>
                                <td>{{ table_proyectos.proy_thisy_conc_extint }} proyectos con financiamiento externo
                                    internacional
                                    concluidos
                                </td>
                            </tr>

                            <tr>
                                <td>{{ table_proyectos.proy_pasty_proc_conacyt }} proyectos con financiamiento CONACYT
                                    en proceso
                                </td>
                                <td>{{ table_proyectos.proy_thisy_proc_conacyt }} proyectos con financiamiento CONACYT
                                    en proceso
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_proc_papiit }} proyectos con financiamiento PAPIIT en
                                    proceso
                                </td>
                                <td>{{ table_proyectos.proy_thisy_proc_papiit }} proyectos con financiamiento PAPIIT en
                                    proceso
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_proc_extnal }} proyectos con financiamiento externo
                                    nacional en proceso
                                </td>
                                <td>{{ table_proyectos.proy_thisy_proc_extnal }} proyectos con financiamiento externo
                                    nacional en proceso
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_pasty_proc_extint }} proyectos con financiamiento externo
                                    internacional en
                                    proceso
                                </td>
                                <td>{{ table_proyectos.proy_thisy_proc_extint }} proyectos con financiamiento externo
                                    internacional en
                                    proceso
                                </td>
                            </tr>

                            <tr>
                                <td>{{ table_proyectos.invest_perc_ant }}% de los investigadores fueron responsables
                                </td>
                                <td>{{ table_proyectos.invest_perc_act }}% de los investigadores fueron responsables
                                </td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.tec_perc_ant }}% de los técnicos fueron responsables</td>
                                <td>{{ table_proyectos.tec_perc_act }}% de los técnicos fueron responsables</td>
                            </tr>
                            <tr>
                                <td>{{ table_proyectos.proy_financiados_ant }} Proyectos de investigación financiados
                                    ({{ table_proyectos.proy_ant_perc }}%)
                                </td>
                                <td>{{ table_proyectos.proy_financiados_act }} Proyectos de investigación financiados
                                    ({{ table_proyectos.proy_act_perc }}%)
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3-2">

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>

        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#modplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#moddatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Modalidad proyectos</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="modplot">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{ this_year_2 }}-{{ this_year_1 }} (%)</h5>
                                {{ p_chart_modalidad_proyectos.as_html }}
                            </div>
                            <div class="col-md-6">
                                <h5>{{ this_year_1 }}-{{ this_year }} (%)</h5>
                                {{ chart_modalidad_proyectos.as_html }}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="moddatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ this_year_2 }}-{{ this_year_1 }}</th>
                                <th>{{ this_year_1 }}-{{ this_year }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Num. Disciplinarios: {{ table_proyectos_modalidad.p_proymod_disc  }} </td>
                                <td>Num. Disciplinarios: {{ table_proyectos_modalidad.proymod_disc }} </td>
                            </tr>
                            <tr>
                                <td>Num. Multidisciplinarios: {{ table_proyectos_modalidad.p_proymod_mult }} </td>
                                <td>Num. Multidisciplinarios: {{ table_proyectos_modalidad.proymod_mult }} </td>
                            </tr>
                            <tr>
                                <td>Num. Interdisciplinarios: {{ table_proyectos_modalidad.p_proymod_inter }} </td>
                                <td>Num. Interdisciplinarios: {{ table_proyectos_modalidad.proymod_inter }} </td>
                            </tr>
                            <tr>
                                <td>Num. Transdisciplinarios: {{ table_proyectos_modalidad.p_proymod_trans }} </td>
                                <td>Num. Transdisciplinarios: {{ table_proyectos_modalidad.proymod_trans }} </td>
                            </tr>

                            <tr>
                                <td>Disciplinarios: {{ table_proyectos_modalidad.p_proymod_discp }} %</td>
                                <td>Disciplinarios: {{ table_proyectos_modalidad.proymod_discp }} %</td>
                            </tr>
                            <tr>
                                <td>Multidisciplinarios: {{ table_proyectos_modalidad.p_proymod_multp }} %</td>
                                <td>Multidisciplinarios: {{ table_proyectos_modalidad.proymod_multp }} %</td>
                            </tr>
                            <tr>
                                <td>Interdisciplinarios: {{ table_proyectos_modalidad.p_proymod_interp }} %</td>
                                <td>Interdisciplinarios: {{ table_proyectos_modalidad.proymod_interp }} %</td>
                            </tr>
                            <tr>
                                <td>Transdisciplinarios: {{ table_proyectos_modalidad.p_proymod_transp }} %</td>
                                <td>Transdisciplinarios: {{ table_proyectos_modalidad.proymod_transp }} %</td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#orgplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#orgdatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Organización proyectos</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="orgplot">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{ this_year_2 }}-{{ this_year_1 }} (%)</h5>
                                {{ p_chart_organizacion_proyectos.as_html }}
                            </div>
                            <div class="col-md-6">
                                <h5>{{ this_year_1 }}-{{ this_year }} (%)</h5>
                                {{ chart_organizacion_proyectos.as_html }}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="orgdatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ this_year_2 }}-{{ this_year_1 }}</th>
                                <th>{{ this_year_1 }}-{{ this_year }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Num. Individuales: {{ table_proyectos_organizacion.p_proyorg_ind  }} </td>
                                <td>Num. Individuales: {{ table_proyectos_organizacion.proyorg_ind }} </td>
                            </tr>
                            <tr>
                                <td>Num. Colectivos: {{ table_proyectos_organizacion.p_proyorg_col }} </td>
                                <td>Num. Colectivos: {{ table_proyectos_organizacion.proyorg_col }} </td>
                            </tr>

                            <tr>
                                <td>Individuales: {{ table_proyectos_organizacion.p_proyorg_indp  }} %</td>
                                <td>Individuales: {{ table_proyectos_organizacion.proyorg_indp }} %</td>
                            </tr>
                            <tr>
                                <td>Colectivos: {{ table_proyectos_organizacion.p_proyorg_colp }} %</td>
                                <td>Colectivos: {{ table_proyectos_organizacion.proyorg_colp }} %</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>

        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#genplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#gendatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Enfoque género proyectos</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="genplot">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{ this_year_2 }}-{{ this_year_1 }} (%)</h5>
                                {{ p_chart_genero_proyectos.as_html }}
                            </div>
                            <div class="col-md-6">
                                <h5>{{ this_year_1 }}-{{ this_year }} (%)</h5>
                                {{ chart_genero_proyectos.as_html }}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="gendatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ this_year_2 }}-{{ this_year_1 }}</th>
                                <th>{{ this_year_1 }}-{{ this_year }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Num. que contiene enfoque de género: {{ table_proyectos_genero.p_proygen_y  }} </td>
                                <td>Num. que contiene enfoque de género: {{ table_proyectos_genero.proygen_y }} </td>
                            </tr>
                            <tr>
                                <td>Num. que no contiene enfoque de género: {{ table_proyectos_genero.p_proygen_n }} </td>
                                <td>Num. que no contiene enfoque de género: {{ table_proyectos_genero.proygen_n }} </td>
                            </tr>

                            <tr>
                                <td>Contiene enfoque de género: {{ table_proyectos_genero.p_proygen_yp  }} %</td>
                                <td>Contiene enfoque de género: {{ table_proyectos_genero.proygen_yp }} %</td>
                            </tr>
                            <tr>
                                <td>No contiene enfoque de género: {{ table_proyectos_genero.p_proygen_np }} %</td>
                                <td>No contiene enfoque de género: {{ table_proyectos_genero.proygen_np }} %</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#ppconacytplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#ppconacytdatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Proyectos problemas nacionales CONACYT {{ this_year_2 }}-{{ this_year_1 }}</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="ppconacytplot">
                        <div class="row">
                            <div class="col-md-6">
                                {{ p_chart_proyectos_problemas_conacyt.as_html }}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="ppconacytdatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th> </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Gestión integral del agua, seguridad hídrica y derecho del agua: {{ table_proyectos_problemas_conacyt.p_gestion_agua }} ({{ table_proyectos_problemas_conacyt.p_gestion_aguap }} %) </td>
                            </tr>
                            <tr>
                                <td>Mitigación y adaptación al cambio climático: {{ table_proyectos_problemas_conacyt.p_mitigacion_cambio_climatico }} ({{ table_proyectos_problemas_conacyt.p_mitigacion_cambio_climaticop }} %) </td>
                            </tr>
                            <tr>
                                <td>Resiliencia frente a desastres naturales y tecnológicos: {{ table_proyectos_problemas_conacyt.p_resiliencia_desastres_nt }} ({{ table_proyectos_problemas_conacyt.p_resiliencia_desastres_ntp }} %) </td>
                            </tr>
                            <tr>
                                <td>Aprovechamiento y protección de ecosistemas y de la biodiversidad: {{ table_proyectos_problemas_conacyt.p_aprovechamiento_ecosistemas }} ({{ table_proyectos_problemas_conacyt.p_aprovechamiento_ecosistemasp }} %) </td>
                            </tr>
                            <tr>
                                <td>Los océanos y su aprovechamiento: {{ table_proyectos_problemas_conacyt.p_oceanos_aprovechamiento }} ({{ table_proyectos_problemas_conacyt.p_oceanos_aprovechamientop }} %) </td>
                            </tr>
                            <tr>
                                <td>Alimentos y su producción: {{ table_proyectos_problemas_conacyt.p_alimentos_produccion }} ({{ table_proyectos_problemas_conacyt.p_alimentos_produccionp }} %) </td>
                            </tr>
                            <tr>
                                <td>Ciudades y desarrollo urbano: {{ table_proyectos_problemas_conacyt.p_ciudades_desarrollo_urbano }} ({{ table_proyectos_problemas_conacyt.p_ciudades_desarrollo_urbanop }} %) </td>
                            </tr>
                            <tr>
                                <td>Conectividad informática y desarrollo de las tecnologías de la información, la comunicación y las telecomunicaciones: {{ table_proyectos_problemas_conacyt.p_conectividad_informatica }} ({{ table_proyectos_problemas_conacyt.p_conectividad_informaticap }} %) </td>
                            </tr>
                            <tr>
                                <td>Manufactura de alta tecnología: {{ table_proyectos_problemas_conacyt.p_manufactura_alta_tecnologia }} ({{ table_proyectos_problemas_conacyt.p_manufactura_alta_tecnologiap }} %) </td>
                            </tr>
                            <tr>
                                <td>Consumo sustentable de energía: {{ table_proyectos_problemas_conacyt.p_consumo_sustentable_energia }} ({{ table_proyectos_problemas_conacyt.p_consumo_sustentable_energiap }} %) </td>
                            </tr>
                            <tr>
                                <td>Desarrollo y aprovechamiento de energías renovables limpias, conducta humana y prevención de adicciones: {{ table_proyectos_problemas_conacyt.p_aprovechamiento_energias_renovables }} ({{ table_proyectos_problemas_conacyt.p_aprovechamiento_energias_renovablesp }} %) </td>
                            </tr>
                            <tr>
                                <td>Enfermedades emergentes y de importancia nacional: {{ table_proyectos_problemas_conacyt.p_enfermedades_emergentes }} ({{ table_proyectos_problemas_conacyt.p_enfermedades_emergentesp }} %) </td>
                            </tr>
                            <tr>
                                <td>Combate a la pobreza y seguridad alimentaria: {{ table_proyectos_problemas_conacyt.p_combate_pobreza }} ({{ table_proyectos_problemas_conacyt.p_combate_pobrezap }} %) </td>
                            </tr>
                            <tr>
                                <td>Migraciones y asentamientos humanos: {{ table_proyectos_problemas_conacyt.p_migracion_humana }} ({{ table_proyectos_problemas_conacyt.p_migracion_humanap }} %) </td>
                            </tr>
                            <tr>
                                <td>Seguridad ciudadana: {{ table_proyectos_problemas_conacyt.p_seguridad_ciudadana }} ({{ table_proyectos_problemas_conacyt.p_seguridad_ciudadanap }} %) </td>
                            </tr>
                            <tr>
                                <td>Economía y gestión del conocimiento: {{ table_proyectos_problemas_conacyt.p_gestion_conocimiento }} ({{ table_proyectos_problemas_conacyt.p_gestion_conocimientop }} %) </td>
                            </tr>
                            <tr>
                                <td>Prevención de riesgos naturales: {{ table_proyectos_problemas_conacyt.p_prevencion_riesgos_naturales }} ({{ table_proyectos_problemas_conacyt.p_prevencion_riesgos_naturalesp }} %) </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>

        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#genplot" data-toggle="tab" aria-expanded="true">Plot</a></li>
                    <li class=""><a href="#gendatos" data-toggle="tab" aria-expanded="false">Datos</a></li>

                    <li class="pull-left header"><i class="fa fa-th"></i> Proyectos problemas nacionales CONACYT {{ this_year_1 }}-{{ this_year }}</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="genplot">
                        <div class="row">
                            <div class="col-md-6">
                                {{ chart_proyectos_problemas_conacyt.as_html }}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="gendatos">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ this_year_2 }}-{{ this_year_1 }}</th>
                                <th>{{ this_year_1 }}-{{ this_year }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Num. que contiene enfoque de género: {{ table_proyectos_problemas_conacyt.p_proygen_y  }} </td>
                                <td>Num. que contiene enfoque de género: {{ table_proyectos_genero.proygen_y }} </td>
                            </tr>
                            <tr>
                                <td>Num. que no contiene enfoque de género: {{ table_proyectos_genero.p_proygen_n }} </td>
                                <td>Num. que no contiene enfoque de género: {{ table_proyectos_genero.proygen_n }} </td>
                            </tr>

                            <tr>
                                <td>Contiene enfoque de género: {{ table_proyectos_genero.p_proygen_yp  }} %</td>
                                <td>Contiene enfoque de género: {{ table_proyectos_genero.proygen_yp }} %</td>
                            </tr>
                            <tr>
                                <td>No contiene enfoque de género: {{ table_proyectos_genero.p_proygen_np }} %</td>
                                <td>No contiene enfoque de género: {{ table_proyectos_genero.proygen_np }} %</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>





    {{ chart_proyectos_problemas_conacyt.as_html }}







    <script>
        $(function () {
            $('#ocultar-leyendas').click(function () {
                $('.morris-hover.morris-default-style').remove();
                $('#ocultar-leyendas').remove();


            })
        })

    </script>

{% endblock %}

