<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Informe CIGA</h1>

<h2>Investigación y sus resultados</h2>

<h3>Artículos Científicos</h3>

<h4>Publicado - Nacional (Web of Science: SCI/SSCI/SCI-EX / Scopus)</h4>
{% if articulos_cientificos_nacionales_publicados_isiscopus %}
    <ol>
        {% for i in articulos_cientificos_nacionales_publicados_isiscopus %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Nacional (Otros índices)</h4>
{% if articulos_cientificos_nacionales_publicados_otrosindices %}
    <ol>
        {% for i in articulos_cientificos_nacionales_publicados_otrosindices %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Nacional (No índizado)</h4>
{% if articulos_cientificos_nacionales_publicados_noindizado %}
    <ol>
        {% for i in articulos_cientificos_nacionales_publicados_noindizado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>En prensa - Nacional</h4>
{% if articulos_cientificos_nacionales_enprensa %}
    <ol>
        {% for i in articulos_cientificos_nacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Aceptado – Nacional</h4>
{% if articulos_cientificos_nacionales_aceptado %}
    <ol>
        {% for i in articulos_cientificos_nacionales_aceptado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Enviado – Nacional</h4>
{% if articulos_cientificos_nacionales_enviado %}
    <ol>
        {% for i in articulos_cientificos_nacionales_enviado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}):{% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Interacional (Web of Science: SCI/SSCI/SCI-EX / Scopus)</h4>
{% if articulos_cientificos_internacionales_publicados_isiscopus %}
    <ol>
        {% for i in articulos_cientificos_internacionales_publicados_isiscopus %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Interacional (Publicados por alumnos o ex alumnos con adscripción del CIGA)</h4>
{% if articulos_cientificos_internacionales_publicados_alumnos %}
    <ol>
        {% for i in articulos_cientificos_internacionales_publicados_alumnos %}
            <li>
                {% for alumno in i.alumnos.all %}{% if not forloop.first %}, {% endif %}{{ alumno.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Interacional (Otros índices)</h4>
{% if articulos_cientificos_internacionales_publicados_otrosindices %}
    <ol>
        {% for i in articulos_cientificos_internacionales_publicados_otrosindices %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Interacional (No índizado)</h4>
{% if articulos_cientificos_internacionales_publicados_noindizado %}
    <ol>
        {% for i in articulos_cientificos_internacionales_publicados_noindizado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>En prensa - Internacional</h4>
{% if articulos_cientificos_internacionales_enprensa %}
    <ol>
        {% for i in articulos_cientificos_internacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Aceptado – Internacional</h4>
{% if articulos_cientificos_internacionales_aceptado %}
    <ol>
        {% for i in articulos_cientificos_internacionales_aceptado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Enviado – Internacional</h4>
{% if articulos_cientificos_internacionales_enviado %}
    <ol>
        {% for i in articulos_cientificos_internacionales_enviado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}):{% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Agradecimientos</h4>
{% if articulos_cientificos_agradecimientos %}
    <ol>
        {% for i in articulos_cientificos_agradecimientos %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                {% if i.id_doi %}DOI: {{ i.id_doi }}. {% endif %}
                {% if i.revista.indices.count > 1 %}{% for indice in i.revista.indices.all %}{% if not forloop.first %},
                {% endif %}{{ indice.nombre }}{% endfor %}.
                {% endif %} {% if i.factor_impacto %}(IF: {{ i.factor_impacto }}){% endif %}
                (Agradecimiento {% for agradecimiento in i.agradecimientos.all %}{% if not forloop.first %}, {% endif %}{{ agradecimiento.author_name }}{% endfor %}).
                {{ i.get_status_display }}

            </li>
        {% endfor %}
    </ol>
{% endif %}




<h3>Libros publicados</h3>

<h4>Libros publicados (Nacional)</h4>
{% if libros_investigacion_nacionales_publicados %}
    <ol>
        {% for i in libros_investigacion_nacionales_publicados %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Libros en prensa (Nacional)</h4>
{% if libros_investigacion_nacionales_enprensa %}
    <ol>
        {% for i in libros_investigacion_nacionales_enprensa %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Libros aceptados (Nacional)</h4>
{% if libros_investigacion_nacionales_aceptados %}
    <ol>
        {% for i in libros_investigacion_nacionales_aceptados %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Libros publicados (Internacional)</h4>
{% if libros_investigacion_internacionales_publicados %}
    <ol>
        {% for i in libros_investigacion_internacionales_publicados %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Libros en prensa (Internacional)</h4>
{% if libros_investigacion_internacionales_enprensa %}
    <ol>
        {% for i in libros_investigacion_internacionales_enprensa %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Libros aceptados (Internacional)</h4>
{% if libros_investigacion_internacionales_aceptados %}
    <ol>
        {% for i in libros_investigacion_internacionales_aceptados %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Capítulos en libros</h3>

<h4>Capítulos en libros nacionales (publicados)</h4>
{% if capitulos_libros_investigacion_nacionales_publicados %}
    <ol>
        {% for i in capitulos_libros_investigacion_nacionales_publicados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Capítulos en libros nacionales (en prensa)</h4>
{% if capitulos_libros_investigacion_nacionales_enprensa %}
    <ol>
        {% for i in capitulos_libros_investigacion_nacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Capítulos en libros nacionales (enviados)</h4>
{% if capitulos_libros_investigacion_nacionales_enviados %}
    <ol>
        {% for i in capitulos_libros_investigacion_nacionales_enviados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Capítulos en libros internacionales (publicados)</h4>
{% if capitulos_libros_investigacion_internacionales_publicados %}
    <ol>
        {% for i in capitulos_libros_investigacion_internacionales_publicados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Capítulos en libros internacionales (en prensa)</h4>
{% if capitulos_libros_investigacion_internacionales_enprensa %}
    <ol>
        {% for i in capitulos_libros_investigacion_internacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Capítulos en libros internacionales (enviados)</h4>
{% if capitulos_libros_investigacion_internacionales_enviados %}
    <ol>
        {% for i in capitulos_libros_investigacion_internacionales_enviados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.libro.fecha.year }}. "{{ i.titulo }}".
                En: {% if i.coordinadores.count > 0 %}{% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %} {{ i.libro.nombre }}.
                {{ i.libro.editorial.nombre }}.
                {{ i.libro.pais.nombre }}.
                pp. {{ i.libro.numero_paginas }}.
                {% if i.libro.isbn %}ISBN: {{ i.libro.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Mapas arbitrados</h3>
{% if mapas_arbitrados %}
    <ol>
        {% for i in mapas_arbitrados %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.titulo }} a escala {{ i.escala }}.
                {{ i.editorial.nombre }}.
                {% if i.numero_edicion %}Edición no. {{ i.numero_edicion }}.{% endif %}
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}. {% endif %}
                {% if i.url %}{{ i.url }}{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Informes técnicos de acceso público</h3>

<h4>Informes técnicos de acceso público (nacionales)</h4>
{% if informes_tecnicos_accesso_publico_nacionales %}
    <ol>
        {% for i in informes_tecnicos_accesso_publico_nacionales %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                ({{ i.fecha.year }}). {{ i.titulo }}. Proyecto {{ i.proyecto.nombre }}.
                {% if i.editorial.nombre %}{{ i.editorial.nombre }}. {% endif %}
                {% if i.numero_edicion %}Edición no. {{ i.numero_edicion }}. {% endif %}
                {% if i.numero_paginas %}{{ i.numero_paginas }}. {% endif %}
                {% if i.isbn %}ISBN: {{ i.isbn }}. {% endif %}
                {% if i.url %}{{ i.url }}{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Informes técnicos de acceso público (internacionales)</h4>
{% if informes_tecnicos_accesso_publico_internacionales %}
    <ol>
        {% for i in informes_tecnicos_accesso_publico_internacionales %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                ({{ i.fecha.year }}). {{ i.titulo }}. Proyecto {{ i.proyecto.nombre }}.
                {% if i.editorial.nombre %}{{ i.editorial.nombre }}. {% endif %}
                {% if i.numero_edicion %}Edición no. {{ i.numero_edicion }}. {% endif %}
                {% if i.numero_paginas %}{{ i.numero_paginas }}. {% endif %}
                {% if i.isbn %}ISBN: {{ i.isbn }}. {% endif %}
                {% if i.url %}{{ i.url }}{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Artículos en extenso en memorias de congresos</h3>

<h4>Artículos en extenso en memorias de congresos nacionales</h4>
<p>falta</p>

<h4>Artículos en extenso en memorias de congresos internacionales</h4>
<p>falta</p>



<h3>Artículos de divulgación (no dirigidos a pares)</h3>

<h4>Publicado - Nacional</h4>
{% if articulos_divulgacion_nacionales_publicados %}
    <ol>
        {% for i in articulos_divulgacion_nacionales_publicados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>En prensa - Nacional</h4>
{% if articulos_divulgacion_nacionales_enprensa %}
    <ol>
        {% for i in articulos_divulgacion_nacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Aceptado – Nacional</h4>
{% if articulos_divulgacion_nacionales_aceptado %}
    <ol>
        {% for i in articulos_divulgacion_nacionales_aceptado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Enviado – Nacional</h4>
{% if articulos_divulgacion_nacionales_enviado %}
    <ol>
        {% for i in articulos_divulgacion_nacionales_enviado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Publicado - Interacional</h4>
{% if articulos_divulgacion_internacionales_publicados %}
    <ol>
        {% for i in articulos_divulgacion_internacionales_publicados %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>En prensa - Internacional</h4>
{% if articulos_divulgacion_internacionales_enprensa %}
    <ol>
        {% for i in articulos_divulgacion_internacionales_enprensa %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Aceptado – Internacional</h4>
{% if articulos_divulgacion_internacionales_aceptado %}
    <ol>
        {% for i in articulos_divulgacion_internacionales_aceptado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Enviado – Internacional</h4>
{% if articulos_divulgacion_internacionales_enviado %}
    <ol>
        {% for i in articulos_divulgacion_internacionales_enviado %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h4>Agradecimientos</h4>
{% if articulos_divulgacion_agradecimientos %}
    <ol>
        {% for i in articulos_divulgacion_agradecimientos %}
            <li>
                {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}.
                {{ i.fecha.year }}. {{ i.titulo }}.
                {{ i.revista.nombre }}.
                {% if i.volumen %} {{ i.volumen }}{% endif %}
                {% if i.numero %}({{ i.numero }}){% endif %}:
                {{ i.pagina_inicio }}-{{ i.pagina_fin }}.
                {% if i.revista.issn_impreso %}ISSN {{ i.revista.issn_impreso }}.{% endif %}
                (Agradecimiento {% for agradecimiento in i.agradecimientos.all %}{% if not forloop.first %}, {% endif %}{{ agradecimiento.author_name }}{% endfor %}).
                {{ i.get_status_display }}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Libros de divulgación</h3>
{% if libros_divulgacion %}
    <ol>
        {% for i in libros_divulgacion %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}

<H3>Programas de radio, televisión e internet</H3>
{% if programas_radiotelevisioninternet %}
    <ol>
        {% for i in programas_radiotelevisioninternet %}
            <li>
                {% if i.autores.count > 0 %}<strong>Autores:</strong> {% for autor in i.autores.all %}{% if not forloop.first %}, {% endif %}{{ autor.author_name }}{% endfor %}. {% endif %}
                {% if i.editores.count > 0 %}<strong>Editores:</strong> {% for editor in i.editores.all %}{% if not forloop.first %}, {% endif %}{{ editor.author_name }}{% endfor %}. {% endif %}
                {% if i.coordinadores.count > 0 %}<strong>Coordinadores:</strong> {% for coordinador in i.coordinadores.all %}{% if not forloop.first %}, {% endif %}{{ coordinador.author_name }}{% endfor %}. {% endif %}
                {{ i.fecha.year }}. {{ i.nombre }}.
                {{ i.editorial.nombre }}.
                {{ i.ciudad.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.pais.nombre }}.
                {{ i.numero_paginas }}.
                {% if i.isbn %}ISBN: {{ i.isbn }}.{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}


</body>
</html>