{% extends 'ebase.html' %}

{% block content %}


    <div class="box box-solid box-primary nav-tabs-custom">
        <ul class="nav nav-tabs pull-right ui-sortable-handle">
            {% if active == 'detalle' %}
                <li><a href="../#lista" data-toggle="tab" aria-expanded="true">{{ aux.tab_lista }}</a></li>
                <li {% if active == 'detalle' %}class="active"{% endif %}><a href="#detalle" data-toggle="tab"
                                                                             aria-expanded="true">{{ aux.tab_detalle }}</a>
                </li>
                {% if aux.tab_otros %}
                    <li><a href="../#lista-otros" data-toggle="tab" aria-expanded="true">{{ aux.tab_otros }}</a></li>
                {% endif %}

            {% else %}
                <li {% if active == 'lista' %}class="active"{% endif %}><a href="#lista" data-toggle="tab"
                                                                           aria-expanded="true">{{ aux.tab_lista }}</a>
                </li>
                <li><a href="#agregar" data-toggle="tab" aria-expanded="true">{{ aux.tab_agregar }}</a></li>
                {% if aux.tab_otros %}
                    <li><a href="#lista-otros" data-toggle="tab" aria-expanded="true">{{ aux.tab_otros }}</a></li>
                {% endif %}



            {% endif %}
            <li class="pull-left header"><i class="fa fa-inbox"></i></li>
        </ul>

        <div class="tab-content no-padding">
            <div id="lista" class="tab-pane{% if active == 'lista' %} active{% endif %}">
                <div class="bg-light-blue-active box-header with-border">
                    <h3 class="box-title">{{ aux.titulo_lista }}</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">

                    {{ aux.tabla_mios|safe }}

                    <table id="tabla_json" class="dataTables_wrapper form-inline dt-bootstrap" style="width: 100%">
                        <thead>
                        <tr>
                            {% for titulo in aux.titulos_tabla %}
                                <th>
                                    <nobr>{{ titulo }}</nobr>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div><!-- /.box-body -->

            </div>


            {% if active == 'detalle' %}

                <div id="detalle" class="tab-pane active">
                    <div class="bg-light-blue-active box-header with-border">
                        <h3 class="box-title">{{ aux.titulo_detalle }}</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div>
                            <div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% block form_detalle %}
                                        <p>puta</p>
                                    {% endblock %}
                                    <br/>
                                    <button class="btn btn-success" type="submit">Actualizar {{ aux.objeto }}</button>
                                    <a class="btn btn-primary" style="color: #fff"
                                       href="/{{ aux.url_categoria }}/{{ aux.url_seccion }}">Cancelar</a>
                                    <button class="btn btn-danger" type="submit" style="float: right">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.box-body -->

                </div>

            {% else %}

                <div id="agregar" class="tab-pane{% if active == 'agregar' %} active{% endif %}">

                    <div class="bg-light-blue-active box-header with-border">
                        <h3 class="box-title">{{ aux.titulo_agregar }}</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div>
                            <div>
                                <form action="/{{ aux.url_categoria }}/{{ aux.url_seccion }}/" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% block form_agregar %}
                                        <p>puta</p>
                                    {% endblock %}
                                    <br/>
                                    <button class="btn btn-success" type="submit">Agregar {{ aux.objeto }}</button>
                                    <a class="btn btn-primary" style="color: #fff"
                                       href="/{{ aux.url_categoria }}/{{ aux.url_seccion }}">Cancelar</a>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.box-body -->

                </div>

            {% endif %}

            {% if aux.tab_otros %}

                <div id="lista-otros" class="tab-pane{% if active == 'lista-otros' %} active{% endif %}">
                    <div class="bg-light-blue-active box-header with-border">
                        <h3 class="box-title">{{ aux.titulo_lista_otros }}</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ aux.tabla_otros|safe }}

                        <table id="tabla_json_otros" class="dataTables_wrapper form-inline dt-bootstrap"
                               style="width: 100%">
                            <thead>
                            <tr>
                                {% for titulo in aux.titulos_tabla %}
                                    <th>
                                        <nobr>{{ titulo }}</nobr>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div><!-- /.box-body -->

                </div>
            {% endif %}


        </div>
    </div><!-- /.box -->

{% endblock %}