{% extends 'adminlte/base.html' %}


{% block title %}SIA : {{ aux.breadcrumb_seccion }} - {{ aux.titulo_pagina }} {% endblock %}
{% block extra_head %}
    <!-- comentario extra en head -->
    {% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}

    {% endblock %}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1> {{ aux.titulo_pagina }}
            {% block page_name %}{% endblock %}
            {% block no_description %}
                <small>{% block page_description %}{% endblock %}</small>
            {% endblock %}
        </h1>
        {% block breadcrumbs %}
            {# Breadcrumb implementation left to developers #}
            <ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li>{{ aux.breadcrumb_seccion }}</li>
                <li class="active">{{ aux.titulo_pagina }}</li>
            </ol>
        {% endblock %}
    </section>
{% endblock %}



{% block content %}


    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{{ usuario.titulo }}. {{ usuario }}</h3>

                    <p class="text-muted text-center">{{ usuario.pais }}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Artículos</b> <a class="pull-right">{{ num_articulos }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Libros de investigación</b> <a class="pull-right">{{ num_libros_investigacion }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Proyectos de investigación</b> <a
                                class="pull-right">{{ num_proyectos_investigacion }}</a>
                        </li>
                    </ul>

                    <a href="./pdf/" style="color: #fff;" class="btn btn-primary btn-block" target="_blank"><b>Descargar CV en
                        PDF</b></a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Acerca de</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Educación</strong>

                    {% for i in doctorados %}
                        <p><strong>Doctorado: </strong>{{ i }}</p>
                    {% endfor %}

                    {% for i in maestrias %}
                        <p><strong>Maestria: </strong>{{ i }}</p>
                    {% endfor %}

                    {% for i in licenciaturas %}
                        <p><strong>Licenciatura: </strong>{{ i }}</p>
                    {% endfor %}

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Ubicación</strong>
                    <p class="text-muted">{{ usuario.ciudad }}, {{ usuario.estado }}; {{ usuario.pais }}</p>

                    {% if usuario.capacidadpotencialidad_set.all.count > 0 %}
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Capacidades y potencialidades</strong>
                        <p>
                            {% for i in usuario.capacidadpotencialidad_set.all %}
                                <span class="label label-warning">{{ i.nombre|truncatechars:58 }}</span>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if usuario.lineainvestigacion_set.all.count > 0 %}
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Capacidades y potencialidades</strong>
                        <p>
                            {% for i in usuario.lineainvestigacion_set.all %}
                                <span class="label label-warning">{{ i.nombre|truncatechars:58 }}</span>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if usuario.descripcion %}
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Semblanza</strong>
                        <p>{{ usuario.descripcion }}</p>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h2 class="box-title">Curriculum Vitae</h2>
                    <hr/>
                    <ul class="timeline timeline-inverse">
                        <li class="time-label">
                            <span class="bg-yellow">Datos personales</span>
                        </li>
                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Datos personales</a></h3>
                                <div class="timeline-body">
                                    <ul>
                                        <li><strong>Nombre: </strong> {{ usuario }} </li>
                                        <li><strong>fecha de nacimiento: </strong>{{ usuario.fecha_nacimiento }} </li>
                                        <li><strong>País de origen: </strong>{{ usuario.pais_origen }}</li>
                                        <li><strong>RFC: </strong>{{ usuario.rfc }}</li>
                                        <li><strong>CURP: </strong>{{ usuario.curp }}</li>
                                        <li><strong>Correo electrónico: </strong>{{ usuario.email }}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="time-label">
                            <span class="bg-yellow">Formación profesional</span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Estudios profesionales</a></h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in licenciaturas %}
                                            <li>
                                                <strong>Licenciatura: </strong> {{ i.fecha_grado }}, {{ i.carrera }}, {{ i.titulo_tesis }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Estudios de posgrado</a></h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in doctorados %}
                                            <li>
                                                <strong>Doctorado: </strong> {{ i.fecha_grado }}, {{ i.programa }}, {{ i.titulo_tesis }}
                                            </li>
                                        {% endfor %}

                                        {% for i in maestrias %}
                                            <li>
                                                <strong>Maestria: </strong> {{ i.fecha_grado }}, {{ i.programa }}, {{ i.titulo_tesis }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        {% if usuario.tipo == 'TECNICO' %}
                            <li>
                                <div class="timeline-item">
                                    <h3 class="timeline-header"><a href="#">Cursos de especialización</a></h3>
                                    <div class="timeline-body">
                                        <ul>
                                            {% for i in cursos_especializacion %}
                                                <li>
                                                    {{ i.fecha_inicio }}, {{ i.nombre }}, {{ i.dependencia }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        <li class="time-label">
                            <span class="bg-yellow">Experiencia profesional</span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Experiencia profesional en la UNAM</a></h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in exp_prof_unam %}
                                            <li>
                                                {{ i.fecha_inicio }}, {{ i.dependencia }}, {{ i.cargo }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Experiencia profesional en la UNAM
                                    (Promociones)</a></h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in exp_prof_unam_prom %}
                                            <li>
                                                {{ i.fecha_inicio }}, {{ i.dependencia }}, {{ i.cargo }}, {{ i.nombramiento }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Experiencia profesional fuera de la UNAM</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in exp_prof_ext %}
                                            <li>
                                                {{ i.fecha_inicio }}, {{ i.institucion }}, {{ i.dependencia }}, {{ i.cargo }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="time-label">
                            <span class="bg-yellow">Labor académico-administrativa en la UNAM</span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Servicios directivos y
                                    académicos-administrativos</a></h3>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            revisar consulta
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        {% if usuario.tipo == 'INVESTIGADOR' %}
                            <li class="time-label">
                                <span class="bg-yellow">Principales líneas de investigación</span>
                            </li>

                            <li>
                                <div class="timeline-item">
                                    <h3 class="timeline-header"><a href="#">Líneas de investigación</a>
                                    </h3>
                                    <div class="timeline-body">
                                        <ul>

                                            {% for i in lineas_investigacion %}
                                                <li>
                                                    {{ i.fecha_inicio }}
                                                    - {{ i.fecha_fin }}; {{ i.linea_investigacion }}
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        {% if usuario.tipo == 'TECNICO' %}
                            <li class="time-label">
                                <span class="bg-yellow">Capacidades y Potencialidades</span>
                            </li>

                            <li>
                                <div class="timeline-item">
                                    <h3 class="timeline-header"><a href="#">Capacidades y Potencialidades</a>
                                    </h3>
                                    <div class="timeline-body">
                                        <ul>

                                            {% for i in capacidades_potencialidades %}
                                                <li>
                                                    {{ i.nombre }}
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        <li class="time-label">
                            <span class="bg-yellow">Publicaciones</span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Producción Científica</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas arbitradas</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas indexadas</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">En revistas extranjeras</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas indexadas extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_indexadas_extranjeras %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">En revistas mexicanas</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas indexadas mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_indexadas_mexicanas %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas no indexadas</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">En revistas extranjeras</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas no indexadas
                                    extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_no_indexadas_extranjeras %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">En revistas mexicanas</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos en revistas no indexadas mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_no_indexadas_mexicanas %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Libros</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">De editoriales mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in libros_investigacion_editoriales_mexicanas %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">De editoriales extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in libros_investigacion_editoriales_extranjeras %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Capitulos de libros</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">De editoriales mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in capitulos_libros_investigacion_editoriales_mexicanas %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">De editoriales extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in capitulos_libros_investigacion_editoriales_extranjeras %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos "in extenso" en Memorias de
                                    Congresos</a></h3>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            revisar consulta
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Mapas</a></h3>
                                <div class="timeline-body">

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Mapas en publicaciones mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in mapas_publicaciones_mexicanas %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Mapas en publicaciones extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in mapas_publicaciones_extranjeras %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Informes técnicos</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Informes técnicos de acceso público (proyectos
                                    en México)</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in informes_tecnicos_mex %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Informes técnicos de acceso público (proyectos
                                    en el extranjero)</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in informes_tecnicos_intl %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Producción de divulgación científica </a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos impresos o electrónicos en
                                    publicaciones mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_divulgacion_mex %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Artículos impresos o electrónicos en
                                    publicaciones extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in articulos_divulgacion_intl %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Libros de divulgación en editoriales
                                    mexicanas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in libros_divulgacion_editoriales_extranjeras %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Libros de divulgación en editoriales
                                    extranjeras</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in libros_divulgacion_editoriales_extranjeras %}
                                            <li>
                                                {{ i }};
                                                {% for j in i.usuarios.all %}
                                                    {{ j }},
                                                {% endfor %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Otros productos publicados</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Reseñas</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in resenas %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Traducciones</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>
                                            <li>
                                                No hay modelo de traducciones
                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Material para medios</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in material_medios %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Producción para la docencia</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            No hay modelo de traducciones, ni aplicacion correspondiente, por lo que
                                            no hay modelos de libros, articulos, programas de estudio, ni producción
                                            tecnológica
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="time-label">
                            <span class="bg-yellow">Otras actividades académicas</span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Participación en proyectos</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Responsable en proyectos</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in participacion_proyectos_responsable %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Participación en proyectos</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in participacion_proyectos_participante %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Participación como ponente en eventos
                                    académicos</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Nacionales por invitación</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_nal_invitacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Nacionales participación</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_nal_participacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Internacionales por invitación</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_intl_invitacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Internacionales participación</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_intl_participacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Organización de eventos académicos</a>
                                </h3>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Organización de eventos académicos nacionales</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_intl_invitacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <h3 class="timeline-header"><a href="#">Organización de eventos académicos internacionales</a>
                                </h3>
                                <div class="timeline-body">
                                    <ul>

                                        {% for i in ponente_eventos_academicos_intl_participacion %}
                                            <li>
                                                {{ i }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </li>


                    </ul>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>


{% endblock %}


