{% extends 'pbase.html' %}


{% block title %}SIA : {{ aux.breadcrumb_seccion }} - {{ aux.titulo_pagina }} {% endblock %}
{% block extra_head %}
    <!-- comentario extra en head -->
    {% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}

    {% endblock %}
{% endblock %}



{% block content %}


    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h2>{{ proyecto.nombre }}</h2>
                    <hr>
                    <h3>{% for u in publicacion.usuarios.all %} {{ u.author_name }},{% endfor %}</h3>
                    {% if publicacion.descripcion %}
                    <h4>Descripción</h4>
                    {% endif %}
                    <p><strong>Fecha inicio: </strong> {{ proyecto.fecha_inicio }}</p>
                    <p><strong>Fecha fin: </strong> {{ proyecto.fecha_fin }}</p>
                    <p><strong>Institucion: </strong> {{ proyecto.institucion }}</p>
                    <p><strong>Clasificación: </strong> {{ proyecto.clasificacion }}</p>
                    {% if problema_nacional_conacyt %}
                    <p><strong>Atiende problema nacional CONACYT: </strong> {{ proyecto.problema_nacional_conacyt }}</p>
                    {% endif %}

                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>


{% endblock %}


