{% if user.is_authenticated %}
    {% block messages %}
        {% include 'adminlte/lib/_messages.html' %}
    {% endblock %}

    <div class="col">

        <form id="modal_form_eventodifusion_detalle" action="" method="post">
            <div id="agregar_eventodifusion_errors"></div>
            {{ modal_form_eventodifusion_detalle.errors }}
            {% csrf_token %}

            <p><strong>Nombre del evento:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Nombre del evento."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_nombre }}
                </div>
            </div>
            </p>
            <p><strong>Tipo de evento:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Tipo de evento.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_tipo }}
                </div>
            </div>
            </p>
            <p><strong>País:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="País donde se realizó el evento.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_pais }}
                </div>
            </div>
            </p>
            <p><strong>Ciudad:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Ciudad donde se realizó el evento."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_ciudad }}
                </div>
            </div>
            </p>
            <p><strong>Fecha de inicio:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Fecha de inicio del evento."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_fecha_inicio }}
                </div>
            </div>
            </p>
            <p><strong>Fecha de fin:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Fecha de fin del evento."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_fecha_fin }}
                </div>
            </div>
            </p>
            <p><strong>Ámbito:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Ámbito del evento.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_ambito }}
                </div>
            </div>
            </p>
            <p><strong>Número de ponentes:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Número de ponenes que asistieron al evento.">
                    <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_numeroponentes }}
                </div>
            </div>
            </p>
            <p><strong>Número de asistentes:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Número de asistentes del evento.">
                    <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group date">
                    <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
                    {{ modal_form_eventodifusion_detalle.eventodifusion_numeroasistentes }}
                </div>
            </div>
            </p>

        </form>
    </div>

    <script>

        $("#modal_form_eventodifusion_detalle").submit(function (event) {
            console.log("Handler for .submit() modal_form_eventodifusion_detalle.");

            var datos = {
                "eventodifusion_nombre": $("#id_eventodifusion_nombre").val(),
                "eventodifusion_tipo": $("#id_eventodifusion_tipo").val(),
                "eventodifusion_fecha_inicio": $("#id_eventodifusion_fecha_inicio").val(),
                "eventodifusion_fecha_fin": $("#id_eventodifusion_fecha_fin").val(),
                "eventodifusion_pais": $("#id_eventodifusion_pais").val(),
                "eventodifusion_ciudad": $("#id_eventodifusion_ciudad").val(),
                "eventodifusion_ambito": $("#id_eventodifusion_ambito").val(),
                "eventodifusion_numeroponentes": $("#id_eventodifusion_numeroponentes").val(),
                "eventodifusion_numeroasistentes": $("#id_eventodifusion_numeroasistentes").val(),
                "eventodifusion_regusuario": {{ user.pk }}
            };

            console.log("datos", datos)


            $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            var patchurl = "/difusion-cientifica/rest/eventos-difusion/" + $("#id_evento").val().toString() + "/";

            console.log("patchurl:", patchurl);

            $.ajax({
                type: "PATCH",
                url: patchurl,
                data: JSON.stringify(datos),
                processData: true,
                dataType: 'json',
                contentType: 'application/json',
                headers: {"X-CSRFToken": $crf_token},

                error: function (xhr, ajaxOptions, thrownError) {
                    //console.log(xhr.responseJSON.non_field_errors[0])
                    console.log("error")
                    console.log(xhr)
                    //console.log(xhr.responseJSON)
                    console.log("{{ user.get_username }}")
                    console.log("{{ user.pk }}")
                    console.log("{{ user }}")

                    errores_form = '<div class="alert alert-danger alert-dismissible fade1 show" role="alert">' +
                        '  <p><strong>Se encontraron los siguientes errores:</strong><br /></p><ul>';

                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_nombre')) {
                        if (xhr.responseJSON.eventodifusion_nombre == "Este campo no puede estar en blanco.") {
                            errores_form += "<li>El nombre del evento no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_pais')) {
                        if (xhr.responseJSON.eventodifusion_pais == "Este campo no puede ser nulo.") {
                            errores_form += "<li>El país no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_ciudad')) {
                        if (xhr.responseJSON.eventodifusion_ciudad == "Este campo no puede estar en blanco.") {
                            errores_form += "<li>La ciudad no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_fecha_fin')) {
                        if (xhr.responseJSON.eventodifusion_fecha_fin == "Fecha con formato erróneo. Use uno de los siguientes formatos en su lugar: YYYY-MM-DD.") {
                            errores_form += "<li>Fecha con formato erróneo. Usar el siguiente formato: YYYY-MM-DD.</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_fecha_inicio')) {
                        if (xhr.responseJSON.eventodifusion_fecha_inicio == "Fecha con formato erróneo. Use uno de los siguientes formatos en su lugar: YYYY-MM-DD.") {
                            errores_form += "<li>Fecha con formato erróneo. Usar el siguiente formato: YYYY-MM-DD.</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('eventodifusion_tipo')) {
                        if (xhr.responseJSON.eventodifusion_tipo == "Este campo no puede ser nulo.") {
                            errores_form += "<li>El campo de tipo no puede ser nulo.</li>"
                        }
                    }

                    errores_form += '</ul><button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '    <span aria-hidden="true">&times;</span>' +
                        '  </button>' +
                        '</div>'
                    $("#detalle_eventodifusion_errors").html(errores_form);
                },

                success: function (data) {
                    console.log("success")
                    $('#id_eventodifusion_nombre').val(null).trigger('change');
                    $('#id_eventodifusion_tipo').val(null).trigger('change');
                    $('#id_eventodifusion_fecha_inicio').val(null).trigger('change');
                    $('#id_eventodifusion_fecha_fin').val(null).trigger('change');
                    $('#id_eventodifusion_pais').val(null).trigger('change');
                    $('#id_eventodifusion_ciudad').val(null).trigger('change');
                    $('#id_eventodifusion_ambito').val(null).trigger('change');
                    $('#id_eventodifusion_numeroponentes').val(null).trigger('change');
                    $('#id_eventodifusion_numeroasistentes').val(null).trigger('change');

                    $('#modal_form_eventodifusion_agregar').trigger('reset');

                    console.log("data")
                    console.log(data);

                    var nuevo_eventodifusion_option = new Option(data.eventodifusion_nombre, data.id, true, true);
                    console.log(nuevo_eventodifusion_option)
                    $('#id_evento').append(nuevo_eventodifusion_option).trigger('change');
                    $('#detalle-eventodifusion-modal-body').empty();
                    detalle_eventodifusion_dialog.dialog("close");
                }
            });
            event.preventDefault();
        });
    </script>

{% else %}
    <script>
        window.location.href = '/login/';
    </script>
{% endif %}
