{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Asesorado:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            {{ form.asesorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del asesorado seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un asesorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Asesorado.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Tipo de asesoría."><i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Grado académico:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.grado_academico }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Grado académico de asesoría."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de licenciatura:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.programa_licenciatura }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la licenciatura.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una licenciatura nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de licenciatura cursado por el alumno asesorado. Seleccionar una licenciatura sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de maestría:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.programa_maestria }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la maestria.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una maestria nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de maestria cursado por el alumno asesorado. Seleccionar una maestria sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de doctorado:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.programa_doctorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del doctorado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un doctorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de doctorado cursado por el alumno asesorado. Seleccionar un doctorado sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Beca:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.beca }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la beca.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una beca nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Beca recibida por el asesorado. Seleccionar una beca sólo si corresponde el caso.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del proyecto seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Proyecto relacionado con la asesorìa en caso de aplicar alguno.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Institución donde se llevó a cabo la asesoría, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Dependencia donde se llevó a cabo la asesoría, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de inicio del curso."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de fin del curso."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Asesorado:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.asesorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del asesorado seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un asesorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Asesorado.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Tipo de asesoría."><i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Grado académico:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.grado_academico }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Grado académico de asesoría."><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de licenciatura:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            {{ form.programa_licenciatura }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la licenciatura.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una licenciatura nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de licenciatura cursado por el alumno asesorado. Seleccionar una licenciatura sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de maestría:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.programa_maestria }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la maestria.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una maestria nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de maestria cursado por el alumno asesorado. Seleccionar una maestria sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Programa de doctorado:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.programa_doctorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del doctorado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un doctorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Programa de doctorado cursado por el alumno asesorado. Seleccionar un doctorado sólo si corresponde con el nivel seleccionado arriba.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Beca:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.beca }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la beca.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una beca nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Beca recibida por el asesorado. Seleccionar una beca sólo si corresponde el caso.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del proyecto seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Proyecto relacionado con la asesorìa en caso de aplicar alguno.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Institución donde se llevó a cabo la asesoría, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Dependencia donde se llevó a cabo la asesoría, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de inicio del curso."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de fin del curso."><i
                        class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}