{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Asesorado:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Persona que recibe la asesoría.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            {{ form.asesorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del asesorado seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un asesorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de asesoría."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Nivel académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico de asesoría."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel_academico }}

        </div>
    </div>
    </p>
    <div id="d_programa_licenciatura">
        <p><strong>Programa de licenciatura:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Programa de licenciatura cursado por el alumno asesorado. Seleccionar una licenciatura sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_licenciatura }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre de la licenciatura.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/programas-licenciatura" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar una licenciatura nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_programa_maestria">
        <p><strong>Programa de maestría:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Programa de maestria cursado por el alumno asesorado. Seleccionar una maestria sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_maestria }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre de la maestria.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/programas-maestria" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar una maestria nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_programa_doctorado">
        <p><strong>Programa de doctorado:</strong>
            <a href="/nucleo/programas-doctorado" data-toggle="tooltip" data-placement="right"
               title="Programa de doctorado cursado por el alumno asesorado. Seleccionar un doctorado sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_doctorado }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre del doctorado.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un doctorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <p><strong>Beca:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Beca recibida por el asesorado. Seleccionar una beca sólo si corresponde el caso.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.beca }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la beca.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/becas" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una beca nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado con la asesorìa en caso de aplicar alguno.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del proyecto seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo la asesoría, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo la asesoría, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        $('#d_programa_licenciatura').hide();
        $('#d_programa_maestria').hide();
        $('#d_programa_doctorado').hide();


        $("#id_nivel_academico").on('change', function () {
                    if ($("#id_nivel_academico").val() == 'LICENCIATURA') {
                        $('#d_programa_licenciatura').show("slow");
                        $('#id_programa_maestria').val(null).trigger("change");
                        $('#d_programa_maestria').hide("slow");
                        $('#id_programa_doctorado').val(null).trigger("change");
                        $('#d_programa_doctorado').hide("slow");
                    } else if ($("#id_nivel_academico").val() == 'MAESTRIA') {
                        $('#id_programa_licenciatura').val(null).trigger("change");
                        $('#d_programa_licenciatura').hide("slow");
                        $('#d_programa_maestria').show("slow");
                        $('#id_programa_doctorado').val(null).trigger("change");
                        $('#d_programa_doctorado').hide("slow");
                    } else if ($("#id_nivel_academico").val() == 'DOCTORADO') {
                        $('#id_programa_licenciatura').val(null).trigger("change");
                        $('#d_programa_licenciatura').hide("slow");
                        $('#id_programa_maestria').val(null).trigger("change");
                        $('#d_programa_maestria').hide("slow");
                        $('#d_programa_doctorado').show("slow");
                    } else {
                        $('#d_programa_licenciatura').show("slow");
                        $('#d_programa_maestria').show("slow");
                        $('#d_programa_doctorado').show("slow");
                    }
                }
        );
    </script>

{% endblock %}

{% block form_detalle %}
        <p><strong>Asesorado:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Persona que recibe la asesoría.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            {{ form.asesorado }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del asesorado seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un asesorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de asesoría."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Nivel académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico de asesoría."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel_academico }}

        </div>
    </div>
    </p>
    <div id="d_programa_licenciatura">
        <p><strong>Programa de licenciatura:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Programa de licenciatura cursado por el alumno asesorado. Seleccionar una licenciatura sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_licenciatura }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre de la licenciatura.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/programas-licenciatura" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar una licenciatura nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_programa_maestria">
        <p><strong>Programa de maestría:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Programa de maestria cursado por el alumno asesorado. Seleccionar una maestria sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_maestria }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre de la maestria.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/programas-maestria" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar una maestria nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="d_programa_doctorado">
        <p><strong>Programa de doctorado:</strong>
            <a href="/nucleo/programas-doctorado" data-toggle="tooltip" data-placement="right"
               title="Programa de doctorado cursado por el alumno asesorado. Seleccionar un doctorado sólo si corresponde con el nivel seleccionado arriba.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>▲
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form.programa_doctorado }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales al nombre del doctorado.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar un doctorado nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
    </div>
    <p><strong>Beca:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Beca recibida por el asesorado. Seleccionar una beca sólo si corresponde el caso.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.beca }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la beca.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/becas" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una beca nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado con la asesorìa en caso de aplicar alguno.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del proyecto seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución donde se llevó a cabo la asesoría, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la institución.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Dependencia:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Dependencia donde se llevó a cabo la asesoría, las opciones
                                              disponibles están en función de la institución seleccionada en el campo
                                              anterior. Si no se selecciona una institución, se enlistan todas las
                                              dependencias pero no se puede saber a cual institución pertenecen.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.dependencia }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre de la dependencia.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/dependencias" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una dependencia nueva. Cuando no existe en los registros aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Semestre/Año académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Semestre/Año académico.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.periodo_academico }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin del curso."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>

    <script>
        $('#d_programa_licenciatura').hide();
        $('#d_programa_maestria').hide();
        $('#d_programa_doctorado').hide();

        if ($("#id_nivel_academico").val() == 'LICENCIATURA') {
            $('#d_programa_licenciatura').show();
        } else if ($("#id_nivel_academico").val() == 'MAESTRIA') {
            $('#d_programa_maestria').show();
        } else if ($("#id_nivel_academico").val() == 'DOCTORADO') {
            $('#d_programa_doctorado').show();
        } else {
            $('#d_licenciatura').hide();
            $('#d_maestria').hide();
            $('#d_doctorado').hide();
        }

        $("#id_nivel_academico").on('change', function () {
                    if ($("#id_nivel_academico").val() == 'OTRO') {
                        $('#id_programa_licenciatura').val(null).trigger("change");
                        $('#d_programa_licenciatura').hide("slow");
                        $('#id_programa_maestria').val(null).trigger("change");
                        $('#d_programa_maestria').hide("slow");
                        $('#id_programa_doctorado').val(null).trigger("change");
                        $('#d_programa_doctorado').hide("slow");
                    } else if ($("#id_nivel_academico").val() == 'LICENCIATURA') {
                        $('#d_programa_licenciatura').show("slow");
                        $('#id_programa_maestria').val(null).trigger("change");
                        $('#d_programa_maestria').hide("slow");
                        $('#id_programa_doctorado').val(null).trigger("change");
                        $('#d_programa_doctorado').hide("slow");
                    } else if ($("#id_nivel_academico").val() == 'MAESTRIA') {
                        $('#id_programa_licenciatura').val(null).trigger("change");
                        $('#d_programa_licenciatura').hide("slow");
                        $('#d_programa_maestria').show("slow");
                        $('#id_programa_doctorado').val(null).trigger("change");
                        $('#d_programa_doctorado').hide("slow");
                    } else if ($("#id_nivel_academico").val() == 'DOCTORADO') {
                        $('#id_programa_licenciatura').val(null).trigger("change");
                        $('#d_programa_licenciatura').hide("slow");
                        $('#id_programa_maestria').val(null).trigger("change");
                        $('#d_programa_maestria').hide("slow");
                        $('#d_programa_doctorado').show("slow");
                    } else {
                        $('#d_programa_licenciatura').show("slow");
                        $('#d_programa_maestria').show("slow");
                        $('#d_programa_doctorado').show("slow");
                    }
                }
        );
    </script>

{% endblock %}