{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Descripcion:</strong>{{ form.descripcion }}</p>
    <p><strong>Tipo:</strong>{{ form.tipo }}</p>
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Programa de licenciatura:</strong>{{ form.programa_licenciatura }}</p>
    <p><strong>Programa de maestría:</strong>{{ form.programa_maestria }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Beca:</strong>{{ form.beca }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>Fecha fin:</strong>{{ form.fecha_fin }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Descripcion:</strong>{{ form.descripcion }}</p>
    <p><strong>Tipo:</strong>{{ form.tipo }}</p>
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Programa de licenciatura:</strong>{{ form.programa_licenciatura }}</p>
    <p><strong>Programa de maestría:</strong>{{ form.programa_maestria }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Beca:</strong>{{ form.beca }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>Fecha fin:</strong>{{ form.fecha_fin }}</p>
{% endblock %}