{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Programa de maestria:</strong>{{ form.programa_maestria }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>Fecha fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Asesor principal:</strong>{{ form.asesor_principal }}</p>
    <p><strong>Otros asesores:</strong>{{ form.otros_asesores }}</p>
    <p><strong>sinodales:</strong>{{ form.sinodales }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Programa de maestria:</strong>{{ form.programa_maestria }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Status:</strong>{{ form.status }}</p>
    <p><strong>Fecha inicio:</strong>{{ form.fecha_inicio }}</p>
    <p><strong>Fecha fin:</strong>{{ form.fecha_fin }}</p>
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Asesor principal:</strong>{{ form.asesor_principal }}</p>
    <p><strong>Otros asesores:</strong>{{ form.otros_asesores }}</p>
    <p><strong>sinodales:</strong>{{ form.sinodales }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
{% endblock %}