{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Asesor principal:</strong>{{ form.asesor_principal }}</p>
    <p><strong>Otros asesores:</strong>{{ form.otros_asesores }}</p>
    <p><strong>Sinodales:</strong>{{ form.sinodales }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Asesor principal:</strong>{{ form.asesor_principal }}</p>
    <p><strong>Otros asesores:</strong>{{ form.otros_asesores }}</p>
    <p><strong>Sinodales:</strong>{{ form.sinodales }}</p>
    <p><strong>Proyecto:</strong>{{ form.proyecto }}</p>
    <p><strong>Programa de doctorado:</strong>{{ form.programa_doctorado }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
{% endblock %}