{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título de tesis:</strong>{{ form.titulo }}</p>
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Descripcion:</strong>{{ form.descripcion }}</p>
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Documento de tesis:</strong>{{ form.documento_tesis }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Beca:</strong>{{ form.beca }}</p>
    <p><strong>Reconocimiento:</strong>{{ form.reconocimiento }}</p>
    <p><strong>Fecha de examen:</strong>{{ form.fecha_examen }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Título de tesis:</strong>{{ form.titulo }}</p>
    <p><strong>Asesorado:</strong>{{ form.asesorado }}</p>
    <p><strong>Descripcion:</strong>{{ form.descripcion }}</p>
    <p><strong>Grado académico:</strong>{{ form.grado_academico }}</p>
    <p><strong>Documento de tesis:</strong>{{ form.documento_tesis }}</p>
    <p><strong>Institucion:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Beca:</strong>{{ form.beca }}</p>
    <p><strong>Reconocimiento:</strong>{{ form.reconocimiento }}</p>
    <p><strong>Fecha de examen:</strong>{{ form.fecha_examen }}</p>
{% endblock %}