{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Nombre del grupo de investigación :</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del área o grupo de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la formación del grupo o área."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin de la formación del grupo o área."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="País.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/paises" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un país nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Participantes en el área o grupo de investigación, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.usuarios }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Nombre del grupo de investigación :</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre del área o grupo de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de inicio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de inicio de la formación del grupo o área."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de fin:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de fin de la formación del grupo o área."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha_fin }}
        </div>
    </div>
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="País.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/paises" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un país nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Participantes en el área o grupo de investigación, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.usuarios }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
{% endblock %}