{% if user.is_authenticated %}
    {% block messages %}
        {% include 'adminlte/lib/_messages.html' %}
    {% endblock %}

    <p class="col">

        <form id="modal_form_programalicenciatura_agregar" action="" method="post">
            <div id="agregar_programalicenciatura_errors"></div>
            {{ modal_form_programalicenciatura_detalle.errors }}
            {% csrf_token %}

    <p><strong>Nombre de la licenciatura:</strong>
        <a href="#" data-toggle="tooltip" data-placement="bottom"
           title="Nombre del programa de la licenciatura.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ modal_form_programalicenciatura_detalle.programalicenciatura_nombre }}
        </div>
    </div>
    </p>
    <p><strong>Área de conocimiento:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Área de conocimiento a la que pertenece la licenciatura. Las opciones corresponden con las áreas de WOS.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ modal_form_programalicenciatura_detalle.programalicenciatura_areaconocimiento }}
        </div>
    </div>
    </p>

    </form>

    <script>

        $("#modal_form_programalicenciatura_detalle").submit(function (event) {
            console.log("Handler for .submit() modal_form_programalicenciatura_detalle.");
            var datos = {
                programalicenciatura_nombre: $("#id_programalicenciatura_nombre").val(),
                programalicenciatura_areaconocimiento: $("#id_programalicenciatura_areaconocimiento").val(),
                //programalicenciatura_regusuario: {{ user.pk }}
            };

            $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            var patchurl = "/nucleo/rest/programas_licenciatura/" + $("#id_carrera").val().toString() + "/";

            console.log("patchurl:", patchurl);

            $.ajax({
                type: "PATCH",
                url: patchurl,
                dataType: 'json',
                data: datos,
                headers: {"X-CSRFToken": $crf_token},
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseJSON)
                    console.log("{{ user.get_username }}")
                    console.log("{{ user.pk }}")
                    console.log("{{ user }}")

                    errores_form = '<div class="alert alert-danger alert-dismissible fade1 show" role="alert">' +
                        '  <p><strong>Se encontraron los siguientes errores:</strong><br /></p><ul>';


                    if (xhr.responseJSON.hasOwnProperty('programalicenciatura_nombre')) {
                        if (xhr.responseJSON.programalicenciatura_nombre == "Este campo no puede estar en blanco.") {
                            errores_form += "<li>El nombre del programa de licenciatura no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('programalicenciatura_areaconocimiento')) {
                        if (xhr.responseJSON.programalicenciatura_areaconocimiento == "Este campo no puede ser nulo.") {
                            errores_form += "<li>El campo de área de conocimiento no puede estar en blanco</li>"
                        }
                    }

                    errores_form += '</ul><button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '    <span aria-hidden="true">&times;</span>' +
                        '  </button>' +
                        '</div>'
                    $("#detalle_programalicenciatura_errors").html(errores_form);
                },

                success: function (data) {
                    console.log("success")
                    $('#id_programalicenciatura_nombre').val(null).trigger('change');
                    $('#id_programalicenciatura_areaconocimiento').val(null).trigger('change');
                    $('#modal_form_programalicenciatura_agregar').trigger('reset');


                    console.log("data")
                    console.log(data)
                    var nuevo_programalicenciatura_option = new Option(data.programalicenciatura_nombre, data.id, true, true);
                    $('#id_carrera').append(nuevo_programalicenciatura_option).trigger('change');
                    $('#detalle-programalicenciatura-modal-body').empty();
                    detalle_programalicenciatura_dialog.dialog("close")

                }
            });
            event.preventDefault();
        });
    </script>

    </div>

{% else %}
    <script>
        window.location.href = '/login/';
    </script>
{% endif %}
