{% if user.is_authenticated %}
    {% block messages %}
        {% include 'adminlte/lib/_messages.html' %}
    {% endblock %}

    <p class="col">

        {% block form_modal_dependencia %}
            <form id="modal_form_institucion_agregar" action="" method="post">
                <div id="institucion_errors"></div>
                {{ modal_form_institucion_agregar.errors }}
                {% csrf_token %}

            <p><strong>Nombre:</strong>
                <a href="#" data-toggle="tooltip" data-placement="bottom"
                   title="Nombre de la institución. Agregar después del nombre sus siglas entre paréntesis (si tiene siglas),
                       por ejemplo: Centro de Investigaciones en Geografía Ambiental (CIGA).">
                    <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{ modal_form_institucion_agregar.institucion_nombre }}
                </div>
            </div>
            </p>
            <p><strong>Clasificacion:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="clasificacion de la institución.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ modal_form_institucion_agregar.institucion_clasificacion }}
                </div>
            </div>
            </p>
            <p><strong>País:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="País donde se encuentra la institución.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ modal_form_institucion_agregar.institucion_pais }}
                    <div class="input-group-addon">
                        <a href="#" data-toggle="tooltip" data-placement="left"
                           title="Mostrar los detalles adicionales del país.">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                    <div class="input-group-addon">
                            <span class="disabled" tabindex="-1" data-toggle="tooltip" data-placement="left"
                                  target="_blank"
                                  title="Agregar un país nuevo no está activo, si necesita un registro que no existe, debe solicitarlo a un administrador.">
                                <i class="fa fa-plus "></i>
                            </span>
                    </div>
                </div>
            </div>
            </p>
            <p><strong>Ciudad:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="Ciudad donde se encuentra la institución.">
                    <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{ modal_form_institucion_agregar.institucion_ciudad }}
                </div>
            </div>
            </p>
            <p><strong>La institución pertenece a la UNAM: </strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="¿La institución pertenece a la UNAM? de ser así, marcar la casilla."><i
                        class="fa fa-question-circle"></i></a>
                {{ modal_form_institucion_agregar.institucion_perteneceunam }}
            </p>
            <div id="d_subsunam">
                <p><strong>Subsistema UNAM:</strong>
                    <a href="#" data-toggle="tooltip" data-placement="right"
                       title="En caso de que la dependencia sea perteneciente a la UNAM y esté adscrita a algún subsistema de la UNAM seleccionarlo de la lista, de lo contrario dejar en blanco.">
                        <i class="fa fa-question-circle"></i>
                    </a>
                <div class="form-group" style="margin-top: -10px;">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                        {{ modal_form_institucion_agregar.institucion_subsistemaunam }}
                    </div>
                </div>
                </p>
            </div>




            </form>

            <script>
                $('#d_subsunam').hide();


                $("#id_institucion_perteneceunam").on('change', function () {
                    console.log($("#id_institucion_perteneceunam").is(':checked'));
                    if ($("#id_institucion_perteneceunam").is(':checked')) {
                        $('#d_subsunam').show('slow');
                    } else {
                        console.log("esconder cambio")
                        $('#d_subsunam').hide('slow');
                        $('#id_institucion_subsistemaunam').val(null).trigger('change');
                    }
                });

                $("#modal_form_institucion_agregar").submit(function (event) {
                    console.log("Handler for .submit() called.");
                    var datos = {
                        institucion_nombre: $("#id_institucion_nombre").val(),
                        institucion_pais: $("#id_institucion_pais").val(),
                        institucion_ciudad: $("#id_institucion_ciudad").val(),
                        institucion_clasificacion: $("#id_institucion_clasificacion").val(),
                        institucion_regusuario: {{ user.pk }}
                    };
                    if ($("#id_institucion_subsistemaunam").val() != "") {
                        datos.institucion_perteneceunam = true;
                        datos.institucion_subsistemaunam = $("#id_institucion_subsistemaunam").val();
                    }
                    $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                    $.ajax({
                        type: "POST",
                        url: "/nucleo/rest/instituciones/",
                        dataType: 'json',
                        data: datos,
                        headers: {"X-CSRFToken": $crf_token},
                        error: function (xhr, ajaxOptions, thrownError) {
                            //console.log(xhr.responseJSON.non_field_errors[0])
                            console.log(xhr.responseJSON)
                            console.log("{{ user.get_username }}")
                            console.log("{{ user.pk }}")
                            console.log("{{ user }}")

                            errores_form = '<div class="alert alert-danger alert-dismissible fade1 show" role="alert">' +
                                '  <p><strong>Se encontraron los siguientes errores:</strong><br /></p><ul>';


                            if (xhr.responseJSON.hasOwnProperty('nombre_dependencia')) {
                                if (xhr.responseJSON.ciudad_text_dependencia == "Este campo no puede estar en blanco.") {
                                    errores_form += "<li>El nombre de la dependencia no puede estar en blanco</li>"
                                }
                            }
                            if (xhr.responseJSON.hasOwnProperty('ciudad_text_dependencia')) {
                                if (xhr.responseJSON.ciudad_text_dependencia == "Este campo no puede estar en blanco.") {
                                    errores_form += "<li>El campo de ciudad no puede estar en blanco</li>"
                                }
                            }
                            if (xhr.responseJSON.hasOwnProperty('institucion_dependencia')) {
                                if (xhr.responseJSON.institucion_dependencia == "Tipo incorrecto. Se esperaba valor de clave primaria y se recibió str.") {
                                    errores_form += "<li>El campo de institución no puede estar en blanco</li>"
                                }
                            }
                            if (xhr.responseJSON.hasOwnProperty('non_field_errors')) {
                                if (xhr.responseJSON.non_field_errors == "Los campos nombre_dependencia, institucion_dependencia deben formar un conjunto único.") {
                                    errores_form += "<li>Los campos <strong>Nombre de la dependencia</strong> e <strong>Institución a la que pertenece</strong> deben formar un conjunto único. Es decir, ya existe un registro con esta combinación de dependencia e institución.</li>"
                                }
                            }

                            errores_form += '</ul><button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '    <span aria-hidden="true">&times;</span>' +
                                '  </button>' +
                                '</div>'
                            $("#dependencia_errors").html(errores_form);


                            /*$('#id_subsistema_unam_dependencia').val(null).trigger('change');
                            $('#id_institucion_dependencia').val(null).trigger('change');
                            $('#id_institucion_dependencia').children('option').remove();
                            $('#d_subsunam').hide('slow');
                            $('#modal_form_dependencia_agregar').trigger('reset');
                            */
                        },
                        success: function (data) {
                            console.log("success")
                            $('#id_subsistema_unam_dependencia').val(null).trigger('change');
                            $('#id_institucion_dependencia').val(null).trigger('change');
                            $('#id_institucion_dependencia').children('option').remove();
                            $('#d_subsunam').hide('slow');
                            $('#modal_form_dependencia_agregar').trigger('reset');

                            var nueva_dependencia_institucion = ""
                            console.log(nueva_dependencia_institucion)
                            var insturl = "/nucleo/rest/instituciones/" + data.institucion_dependencia.toString() + "/"
                            $.ajax({
                                url: insturl,
                                success: function (dataf) {
                                    console.log(dataf.nombre_institucion);
                                    nueva_dependencia_institucion = dataf.nombre_institucion.toString();
                                    console.log(nueva_dependencia_institucion)
                                    var nueva_dependencia = new Option(data.nombre_dependencia + " :: " + nueva_dependencia_institucion, data.id, true, true);
                                    $('#id_dependencia').append(nueva_dependencia).trigger('change');
                                    $('#agregar-dependencia-modal-body').empty();
                                    agregar_dependencia_dialog.dialog("close")
                                }
                            });
                        }
                    });
                    event.preventDefault();
                });
            </script>
            {{ modal_form_dependencia_agregar.media.js }}
        {% endblock %}
    </div>

{% else %}
    <script>
        window.location.href = '/login/';
    </script>
{% endif %}
