{% if user.is_authenticated %}
    {% block messages %}
        {% include 'adminlte/lib/_messages.html' %}
    {% endblock %}

    <p class="col">
        <form id="modal_form_institucion_detalle" action="" method="post">
            <div id="detalle_institucion_errors"></div>
            {{ modal_form_institucion_detalle.errors }}
            {% csrf_token %}

    <p><strong>Nombre de la licenciatura:</strong>
        <a href="#" data-toggle="tooltip" data-placement="bottom"
           title="Nombre del programa de la licenciatura.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ modal_form_institucion_detalle.institucion_nombre }}
        </div>
    </div>
    </p>
    <p><strong>Clasificacion:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="clasificacion de la institución.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ modal_form_institucion_detalle.institucion_clasificacion }}
        </div>
    </div>
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="País donde se encuentra la institución.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ modal_form_institucion_detalle.institucion_pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                            <span class="disabled" tabindex="-1" data-toggle="tooltip" data-placement="left"
                                  target="_blank"
                                  title="Agregar un país nuevo no está activo, si necesita un registro que no existe, debe solicitarlo a un administrador.">
                                <i class="fa fa-plus "></i>
                            </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ciudad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ciudad donde se encuentra la institución.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ modal_form_institucion_detalle.institucion_ciudad }}
        </div>
    </div>
    </p>
    <p><strong>La institución pertenece a la UNAM: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿La institución pertenece a la UNAM? de ser así, marcar la casilla."><i
                class="fa fa-question-circle"></i></a>
        {{ modal_form_institucion_detalle.institucion_perteneceunam }}
    </p>
    <div id="d_subsunam">
        <p><strong>Subsistema UNAM:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="En caso de que la dependencia sea perteneciente a la UNAM y esté adscrita a algún subsistema de la UNAM seleccionarlo de la lista, de lo contrario dejar en blanco.">
                <i class="fa fa-question-circle"></i>
            </a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ modal_form_institucion_detalle.institucion_subsistemaunam }}
            </div>
        </div>
        </p>
    </div>




    </form>

    <script>

        //$('#d_subsunam').hide('slow');
        if ($("#id_institucion_perteneceunam").is(':checked')) {
            console.log("checked")
            console.log("checked2")
                $('#d_subsunam').show();
            } else {
            $('#d_subsunam').hide();
        }

        $("#id_institucion_perteneceunam").on('change', function () {
            console.log($("#id_institucion_perteneceunam").is(':checked'));
            if ($("#id_institucion_perteneceunam").is(':checked')) {
                $('#d_subsunam').show('slow');
                $('#id_institucion_subsistemaunam').attr("required", "true");
            } else {
                console.log("esconder cambio")
                $('#d_subsunam').hide('slow');
                $('#id_institucion_subsistemaunam').val(null).trigger('change');
                $('#id_institucion_subsistemaunam').attr("required", null);
            }
        });

        $("#modal_form_institucion_detalle").submit(function (event) {
            console.log("Handler for .submit() called.");
            var datos = {
                institucion_nombre: $("#id_institucion_nombre").val(),
                institucion_pais: $("#id_institucion_pais").val(),
                institucion_ciudad: $("#id_institucion_ciudad").val(),
                institucion_regusuario: {{ user.pk }}
            };
            if ($("#id_institucion_clasificacion").val() != '') {
                datos.institucion_clasificacion = $("#id_institucion_clasificacion").val();
            }
            if ($("#id_institucion_perteneceunam").is(':checked')) {
                datos.institucion_perteneceunam = true;
            }
            if ($("#id_institucion_subsistemaunam").val() != "") {
                datos.institucion_perteneceunam = true;
                datos.institucion_subsistemaunam = $("#id_institucion_subsistemaunam").val();
            }

            $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            var patchurl = "/nucleo/rest/instituciones/" + $("#id_institucion").val().toString() + "/";

            console.log("patchurl:", patchurl);

            $.ajax({
                type: "PATCH",
                url: patchurl,
                dataType: 'json',
                data: datos,
                headers: {"X-CSRFToken": $crf_token},
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseJSON)
                    console.log("{{ user.get_username }}")
                    console.log("{{ user.pk }}")
                    console.log("{{ user }}")

                    errores_form = '<div class="alert alert-danger alert-dismissible fade1 show" role="alert">' +
                        '  <p><strong>Se encontraron los siguientes errores:</strong><br /></p><ul>';


                    if (xhr.responseJSON.hasOwnProperty('institucion_nombre')) {
                        if (xhr.responseJSON.institucion_nombre == "Este campo no puede estar en blanco.") {
                            errores_form += "<li>El nombre de la institucion no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('institucion_clasificacion')) {
                        if (xhr.responseJSON.institucion_clasificacion == "Este campo es requerido.") {
                            errores_form += "<li>El campo de clasificación no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('institucion_pais')) {
                        if (xhr.responseJSON.institucion_pais == "Este campo no puede ser nulo.") {
                            errores_form += "<li>El campo de pais no puede estar en blanco</li>"
                        }
                    }
                    if (xhr.responseJSON.hasOwnProperty('institucion_ciudad')) {
                        if (xhr.responseJSON.institucion_ciudad == "Este campo no puede estar en blanco.") {
                            errores_form += "<li>El campo de ciudad no puede estar en blanco</li>"
                        }
                    }

                    if (xhr.responseJSON.hasOwnProperty('non_field_errors')) {
                        if (xhr.responseJSON.non_field_errors == "Los campos institucion_nombre, institucion_pais deben formar un conjunto único.") {
                            errores_form += "<li>Los campos <strong>Nombre</strong> y <strong>País</strong> deben formar un conjunto único. Es decir, ya existe un registro con esta combinación de institución y país.</li>"
                        }
                    }

                    errores_form += '</ul><button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '    <span aria-hidden="true">&times;</span>' +
                        '  </button>' +
                        '</div>'
                    $("#detalle_institucion_errors").html(errores_form);
                },
                success: function (data) {
                    console.log("success")
                    $('#id_institucion_dependencia').val(null).trigger('change');
                    $('#id_institucion_dependencia').children('option').remove();
                    $('#d_subsunam').hide('slow');
                    $('#modal_form_institucion_detalle').trigger('reset');


                    console.log("data")
                    console.log(data)
                    var pais_url = "/nucleo/rest/paises/" + data.institucion_pais.toString() + "/"
                    console.log(pais_url)
                    $.ajax({
                        url: pais_url,
                        success: function (dataf) {
                            console.log("nombre pais");
                            institucion_pais_option = dataf.pais_nombre.toString();
                            console.log(institucion_pais_option);
                            var nueva_institucion_option = new Option(data.institucion_nombre + " (" + institucion_pais_option + ")", data.id, true, true);
                            $('#id_institucion').append(nueva_institucion_option).trigger('change');
                            $('#agregar-institucion-modal-body').empty();
                            detalle_institucion_dialog.dialog("close")
                        }
                    });


                }
            });
            event.preventDefault();
        });
    </script>
    {{ modal_form_institucion_detalle.media.js }}
    </div>

{% else %}
    <script>
        window.location.href = '/login/';
    </script>
{% endif %}
