{% extends 'modal/main_modal.html' %}

{% block form_modal %}
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/icheck/skins/square/blue.css">
    <link rel="stylesheet" type="text/css" href="/static/datepicker/css/bootstrap-datepicker.standalone.css">
    <link rel="stylesheet" type="text/css" href="/static/select2/css/select2.css">

    <link rel="stylesheet" type="text/css" href="/static/admin-lte/dist/css/AdminLTE.css">
    <link rel="stylesheet" type="text/css" href="/static/admin-lte/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" type="text/css" href="/static/conflicts/conflicts.css">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">


    <script src="/static/js/jquery-ui.min.js "></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>    $.widget.bridge('uibutton', $.ui.button); </script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="/static/admin-lte/dist/js/app.min.js"></script>
    <script src="/static/datepicker/js/bootstrap-datepicker.js"></script>

    <script src="/static/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/django_select2/django_select2.js"></script>


    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1960:2020",
                format: 'yyyy-mm-dd',
                autoclose: true,
                // You can put more options here.
            });
        });
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>


    <form id="form_dependencia" action="" method="post">
        {% csrf_token %}
        <p><strong>Nombre de la dependencia:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Nombre de la dependencia. Agregar después del nombre sus siglas entre paréntesis (si tiene siglas)."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form_dependencia.nombre }}
            </div>
        </div>
        </p>
        <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                                   title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
            <i class="fa fa-question-circle"></i></a></strong>
            {{ form_dependencia.descripcion }}
        </p>
        <p><strong>Ciudad:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Ciudad donde se encuentra la dependencia."><i
                    class="fa fa-question-circle"></i></a>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form_dependencia.ciudad_text }}
            </div>
        </div>
        </p>
        <p><strong>Institución a la que pertenece:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Institución a la que pertenene la dependencia.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                {{ form_dependencia.institucion }}
                <div class="input-group-addon">
                    <a href="#" data-toggle="tooltip" data-placement="left"
                       title="Mostrar los detalles adicionales de la institución.">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
                <div class="input-group-addon">
                    <a href="/nucleo/instituciones" data-toggle="tooltip" data-placement="left" target="_blank"
                       title="Agregar una institución nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </p>
        <div id="d_subsunam">
            <p><strong>Subsistema UNAM:</strong>
                <a href="#" data-toggle="tooltip" data-placement="right"
                   title="En caso de que la dependencia sea perteneciente a la UNAM y esté adscrita a algún subsistema de la UNAM seleccionarlo de la lista, en caso contrario seleccionar 'No'.">
                    <i class="fa fa-question-circle"></i>
                </a> <i class="fa fa-edit"></i>
            <div class="form-group" style="margin-top: -10px;">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
                    {{ form_dependencia.subsistema_unam }}
                </div>
            </div>
            </p>
        </div>

        <button id="agregar-dependencia-submit" type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
    </form>

    {{ form_dependencia.media.js }}



    <script>
        $('#d_subsunam').hide();
        $("#id_institucion").on('change', function () {
            if ($("#id_institucion").val() == 1) {
                $('#d_subsunam').show('slow');
            } else {
                $('#d_subsunam').hide('slow');
                $('#id_subsistema_unam').val(null).trigger('change');
            }
        });
        $("#form_dependencia").submit(function (event) {
            console.log("Handler for .submit() called.");
            var datos = {
                nombre: $("#id_nombre").val(),
                institucion: parseInt($("#id_institucion").val()),
                ciudad_text: $("#id_ciudad_text").val(),
            };
            if ($("#id_subsistema_unam").val() != "") {
                datos.subsistema_unam = $("#id_subsistema_unam").val();
            }
            console.log(datos);
            $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            $.ajax({
                type: "POST",
                url: "/nucleo/rest/dependencias/",
                dataType: 'json',
                data: datos,
                headers:{"X-CSRFToken": $crf_token},
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(xhr);
                    console.log(thrownError);
                }
            });
            event.preventDefault();
            console.log("event.preventDefault(); prevenido");
        });
        /*$("#agregar-dependencia-submit").click(function () {
            $("#form_dependencia2").submit();
            alert("Submit");
        }); */
    </script>

{% endblock %}

