{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Nombre de distinción o premio:</strong>{{ form.distincion }}</p>
    <p><strong>Condecorados:</strong>{{ form.condecorados }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Ámbito:</strong>{{ form.ambito }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Nombre de distinción o premio:</strong>{{ form.distincion }}</p>
    <p><strong>Condecorados:</strong>{{ form.condecorados }}</p>
    <p><strong>Institución:</strong>{{ form.institucion }}</p>
    <p><strong>Dependencia:</strong>{{ form.dependencia }}</p>
    <p><strong>Ámbito:</strong>{{ form.ambito }}</p>
    <p><strong>Fecha:</strong>{{ form.fecha }}</p>
{% endblock %}