{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Distinción o premio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la distincion o premio obtenido por un académico."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-trophy"></i></div>
            {{ form.distincion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la distincion o premio seleccionados.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/distinciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una distincion o premio nuevos. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
    <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha en la que se obtuvo la distinción o premio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Distinción o premio:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la distincion o premio obtenido por un académico."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-trophy"></i></div>
            {{ form.distincion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la distincion o premio seleccionados.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/distinciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una distincion o premio nuevos. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
    <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha en la que se obtuvo la distinción o premio."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}