{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Alumno:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Alumno condecorado con esta distinción o premio, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i> <i class="fa fa-edit"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.alumno }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del alumno.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un alumno nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Tipo de distinción:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de distinción."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Nombre de distinción recibida por el alumno:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de distinción recibida por el alumno."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.distincion_text }}
        </div>
    </div>
    </p>
    <p><strong>Nivel académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico del alumno al recibir la distinción."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel_academico }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución que otorga la distinción.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito de distinción."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Tutores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tutores del alumno que obtuvo la distinción o premio, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.tutores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los tutores del alumno.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un tutor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de la entrega de la distinción."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Alumno:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Alumno condecorado con esta distinción o premio, la selección de
                                              institución filtra las dependencias que pertenecen a la institución
                                              seleccionada de tal manera que se haga una selección más detallada.">
            <i class="fa fa-question-circle"></i> <i class="fa fa-edit"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.alumno }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales al nombre del alumno.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un alumno nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Tipo de distinción:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de distinción."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Nombre de distinción recibida por el alumno:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de distinción recibida por el alumno."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.distincion_text }}
        </div>
    </div>
    </p>
    <p><strong>Nivel académico:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nivel académico del alumno al recibir la distinción."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.nivel_academico }}
        </div>
    </div>
    </p>
    <p>
        <strong>Institución:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Institución que otorga la distinción.">
            <i class="fa fa-question-circle"></i></a>
        <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.institucion }}

            <div class="input-group-addon">
                <span id="boton-detalle-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Mostrar o editar los detalles adicionales de la institución seleccionada. La edición solo se permite cuando el registro es reciente y no está siendo usado por nadie más, y que no haya sido verificado aún por un administrador. Si no se ha seleccionado ningún elemento no se puede mostrar el detalle, pues no se puede obtener el detalle de un elemento vacío.">
                    <i class="fa fa-eye"></i>
                    </a>
                </span>
            </div>

            <div class="input-group-addon">
                <span id="boton-agregar-institucion">
                    <a data-toggle="tooltip" data-placement="left" style="cursor: pointer;" }
                       title="Agregar una institución nueva cuando no existe en los registros.">
                    <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ámbito:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ámbito de distinción."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.tipo }}
        </div>
    </div>
    </p>
    <p><strong>Tutores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tutores del alumno que obtuvo la distinción o premio, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.tutores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los tutores del alumno.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un tutor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de la entrega de la distinción."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
{% endblock %}