{% extends 'main.html' %}

{% block form_agregar %}
    {{ form.errors }}
    <p><strong>Título de artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título de artículo como aparece publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <div id="d_fecha_enviado">
        <p><strong>Fecha de enviado:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que se envío del artículo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enviado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_aceptado">
        <p><strong>Fecha de aceptación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que artículo fue aceptado."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_aceptado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_enprensa">
        <p><strong>Fecha de envío a prensa:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que el artículo es envíado a prensa antes de su publicación."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enprensa }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_publicado">
        <p><strong>Fecha de publicación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha de publicación del artículo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_publicado }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Revista de divulgación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la revista donde se publicó el artículo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.revista_divulgacion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la revista seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/revistas-divulgacion/" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una revista nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de la revista:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de la revista.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero }}
        </div>
    </div>
    </p>
    <p><strong>Sólo electronico: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo se encuentra publicado únicamente en un medio electrónico?"><i
                class="fa fa-question-circle"></i></a>
        {{ form.solo_electronico }}
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores del artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores como se reportan en el  artículo: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Autores tal cual se reportan en el artículo, en el orden y forma.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Agradecimientos:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Técnicos que tuvieron participación en el desarrollo del artículo y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>URL de link al artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al artículo, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Número de página inicial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina inicia el artìculo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Número de página final:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina termina el artìculo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_fin }}
        </div>
    </div>
    </p>

    <script>
        var id_autores = $("#id_autores");
        var id_status = $("#id_status");

        var d_fecha_enviado = $("#d_fecha_enviado");
        var d_fecha_aceptado = $("#d_fecha_aceptado");
        var d_fecha_enprensa = $("#d_fecha_enprensa");
        var d_fecha_publicado = $("#d_fecha_publicado");
        var id_fecha_enviado = $("#id_fecha_enviado");
        var id_fecha_aceptado = $('#id_fecha_aceptado');
        var id_fecha_enprensa = $('#id_fecha_enprensa');
        var id_fecha_publicado = $('#id_fecha_publicado');


        d_fecha_enviado.hide();
        d_fecha_aceptado.hide();
        d_fecha_enprensa.hide();
        d_fecha_publicado.hide();

        id_status.on('change', function () {
            if (id_status.val() === 'ENVIADO') {
                d_fecha_enviado.show('slow');
                id_fecha_enviado.attr("required", "true");
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'ACEPTADO') {
                d_fecha_aceptado.show('slow');
                id_fecha_aceptado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'EN_PRENSA') {
                d_fecha_enprensa.show('slow');
                id_fecha_enprensa.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'PUBLICADO') {
                d_fecha_publicado.show('slow');
                id_fecha_publicado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
            } else {
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            }
        });

        id_autores.on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}

{% block form_detalle %}
    {{ form.errors }}
    <p><strong>Título de artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título de artículo como aparece publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <div id="d_fecha_enviado">
        <p><strong>Fecha de enviado:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que se envío del artículo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enviado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_aceptado">
        <p><strong>Fecha de aceptación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que artículo fue aceptado."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_aceptado }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_enprensa">
        <p><strong>Fecha de envío a prensa:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha en que el artículo es envíado a prensa antes de su publicación."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_enprensa }}
            </div>
        </div>
        </p>
    </div>
    <div id="d_fecha_publicado">
        <p><strong>Fecha de publicación:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="Fecha de publicación del artículo."><i
                    class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form.fecha_publicado }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>Revista de divulgación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la revista donde se publicó el artículo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.revista_divulgacion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la revista seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/revistas-divulgacion/" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una revista nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de la revista:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de la revista.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero }}
        </div>
    </div>
    </p>
    <p><strong>Sólo electronico: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo se encuentra publicado únicamente en un medio electrónico?"><i
                class="fa fa-question-circle"></i></a>
        {{ form.solo_electronico }}
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores del artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores como se reportan en el  artículo: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Autores tal cual se reportan en el artículo, en el orden y forma.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.autores_todos }}
    </p>
    <p><strong>Agradecimientos:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Técnicos que tuvieron participación en el desarrollo del artículo y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>URL de link al artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al artículo, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Número de página inicial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina inicia el artìculo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Número de página final:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina termina el artìculo.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_fin }}
        </div>
    </div>
    </p>

    <script>
        var id_autores = $("#id_autores");
        var id_status = $("#id_status");

        var d_fecha_enviado = $("#d_fecha_enviado");
        var d_fecha_aceptado = $("#d_fecha_aceptado");
        var d_fecha_enprensa = $("#d_fecha_enprensa");
        var d_fecha_publicado = $("#d_fecha_publicado");
        var id_fecha_enviado = $("#id_fecha_enviado");
        var id_fecha_aceptado = $('#id_fecha_aceptado');
        var id_fecha_enprensa = $('#id_fecha_enprensa');
        var id_fecha_publicado = $('#id_fecha_publicado');


        d_fecha_enviado.hide();
        d_fecha_aceptado.hide();
        d_fecha_enprensa.hide();
        d_fecha_publicado.hide();

        if (id_status.val() === 'ENVIADO') {
            d_fecha_enviado.show();
            id_fecha_enviado.attr("required", "true");
        }
        if (id_status.val() === 'ACEPTADO') {
            d_fecha_aceptado.show();
            id_fecha_aceptado.attr("required", "true");
        }
        if (id_status.val() === 'EN_PRENSA') {
            d_fecha_enprensa.show();
            id_fecha_enprensa.attr("required", "true");
        }
        if (id_status.val() === 'PUBLICADO') {
            d_fecha_publicado.show();
            id_fecha_publicado.attr("required", "true");
        }

        id_status.on('change', function () {
            if (id_status.val() === 'ENVIADO') {
                d_fecha_enviado.show('slow');
                id_fecha_enviado.attr("required", "true");
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'ACEPTADO') {
                d_fecha_aceptado.show('slow');
                id_fecha_aceptado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'EN_PRENSA') {
                d_fecha_enprensa.show('slow');
                id_fecha_enprensa.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            } else if (id_status.val() === 'PUBLICADO') {
                d_fecha_publicado.show('slow');
                id_fecha_publicado.attr("required", "true");
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
            } else {
                d_fecha_enviado.hide('slow');
                id_fecha_enviado.attr("required", null);
                id_fecha_enviado.val(null).trigger('change');
                d_fecha_aceptado.hide('slow');
                id_fecha_aceptado.attr("required", null);
                id_fecha_aceptado.val(null).trigger('change');
                d_fecha_enprensa.hide('slow');
                id_fecha_enprensa.attr("required", null);
                id_fecha_enprensa.val(null).trigger('change');
                d_fecha_publicado.hide('slow');
                id_fecha_publicado.attr("required", null);
                id_fecha_publicado.val(null).trigger('change');
            }
        });

        id_autores.on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}