{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título de artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título de artículo como aparece publicado.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <p><strong>Revista:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Nombre de la revista donde se publicó el artículo."><i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.revista }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la revista seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/revistas" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una revista nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Volumen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número o letra de volumen de la revista (si aplica)."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.volumen }}
        </div>
    </div>
    </p>
    <p><strong>Número:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de la revista.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de publicación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de publicación del artículo en el medio que haya sido publicado."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p><strong>ISSN en revista impresa:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="ISSN asignado a la revista impresa donde está publicado el articulo. En caso de estar publicado en revista impresa."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.issn }}
        </div>
    </div>
    </p>
    <p><strong>Sólo electronico: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo se encuentra publicado únicamente en un medio electrónico?"><i
                class="fa fa-question-circle"></i></a>
        {{ form.solo_electronico }}
    </p>



    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores del artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.usuarios }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Alumnos participantes:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Alumnos particimantes en el artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.alumnos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los alumnos participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un alumno nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Agradecimiento a:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Personas que tuvieron participación en el desarrollo del artículo y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>


    <p><strong>URL de link al artículo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al artículo, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>




    <p><strong>Número de página inicial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina inicia el artìculo.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_inicio }}
        </div>
    </div>
    </p>
    <p><strong>Número de página final:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="En la revista donde está publicado, en cuál número de pàgina termina el artìculo.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_fin }}
        </div>
    </div>
    </p>
    <p><strong>ID DOI:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="ID DOI.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.id_doi }}
        </div>
    </div>
    </p>
    <p><strong>Proyecto:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Proyecto relacionado al artìculo, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyecto }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los proyectos.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/investigacion/proyectos" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>

    <script>
        //$("#id_usuarios").select2();
        $("#id_usuarios").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}

{% block form_detalle %}

    <script>
        //$("#id_usuarios").select2();
        $("#id_usuarios").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}