{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título del capítulo:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Título del capítulo, no del libro.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>

        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Libro:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-book"></i></div>
            {{ form.libro }}
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del libro seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Agregar un libro nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Libro al que pertenece el capítulo escrito.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Página inicial:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_inicio }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Número de página donde inicia el capítulo.">
                <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Página final:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_fin }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Número de página donde finaliza el capítulo.">
                <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Proyectos:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyectos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los proyectos.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/proyectos" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Proyectos relacionados al capítulo del libro, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Título del capítulo:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Título del capítulo, no del libro.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>

        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Libro:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-book"></i></div>
            {{ form.libro }}
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del libro seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/libros" data-toggle="tooltip" data-placement="left"
                   title="Agregar un libro nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Libro al que pertenece el capítulo escrito.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Página inicial:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_inicio }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Número de página donde inicia el capítulo.">
                <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Página final:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.pagina_fin }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Número de página donde finaliza el capítulo.">
                <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Proyectos:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-cubes"></i></div>
            {{ form.proyectos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los proyectos.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/proyectos" data-toggle="tooltip" data-placement="left"
                   title="Agregar un proyecto nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Proyectos relacionados al capítulo del libro, al escribir el inicio del nombre se filtran
                            los resultados que coincidan con la busqueda.">
                    <i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
{% endblock %}