{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título del libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título del libro de investigación publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Pais donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/paises" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un país nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ciudad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ciudad donde se publicó el libro de investigación. La selección de la ciudad depende del estado, la lista de ciudades depende del estado seleccionado. Si no se selecciona previamente un estado se enlistan todas las ciudades registradas de todos los paises existentes.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ciudad }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la ciudad seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/ciudades" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una ciudad nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.editorial }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la editorial seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/editoriales" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una editorial nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores del artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Coordinadores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Coordinadores del libro, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.coordinadores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los coordinadores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un coordinador nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Prólogo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Si el libro cuenta con prólogo escrito por un autor adscrito a la entedidad (o varios), agregar el o los nombres.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.prologo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los coordinadores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Agradecimiento a:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Personas que tuvieron participación en el desarrollo del artículo y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de publicación:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de publicación del libro."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de edición:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de edición.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_edicion }}
        </div>
    </div>
    </p>
    <p><strong>Número de páginas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de páginas.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_paginas }}
        </div>
    </div>
    </p>
    <p><strong>Colección:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó la colección.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.coleccion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la colección seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/colecciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una colección nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Volumen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número o letra de volumen de la revista (si aplica)."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.volumen }}
        </div>
    </div>
    </p>
    <div id="d_isbn">
        <p><strong>ISBN:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="ISBN, también conocido como Número estándar internacional de libro.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.isbn }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>URL de link al libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al libro, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Libro arbitrado por pares: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo fue publicado sólo en un medio electronico?."><i class="fa fa-question-circle"></i></a>
        {{ form.arbitrado_pares }}</p>

    <script>
        $('#d_isbn').hide();

        $("#id_status").on('change', function () {
                if ($("#id_status").val() == 'PUBLICADO' || $("#id_status").val() == 'EN_PRENSA') {
                    $('#d_isbn').show('slow');
                    $('#id_isbn').attr("required", "true");
                } else {
                    $("#id_isbn").val("");
                    $('#d_isbn').hide('slow');
                    $('#id_isbn').attr("required", null);
                }
            }
        );
    </script>

    <script>
        //$("#id_usuarios").select2();
        $("#id_autores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $("#id_coordinadores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $("#id_prologo").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}

{% block form_detalle %}
    <p><strong>Título del libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Título del libro de investigación publicado.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.nombre }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>País:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Pais donde se publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.pais }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del país seleccionado.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/paises" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un país nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ciudad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Ciudad donde se publicó el libro de investigación. La selección de la ciudad depende del estado, la lista de ciudades depende del estado seleccionado. Si no se selecciona previamente un estado se enlistan todas las ciudades registradas de todos los paises existentes.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ciudad }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la ciudad seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/ciudades" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una ciudad nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Editorial:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó el libro de investigación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.editorial }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la editorial seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/editoriales" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una editorial nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Autores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Autores del artículo, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.autores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los autores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Coordinadores:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Coordinadores del libro, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.coordinadores }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los coordinadores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un coordinador nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Prólogo:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Si el libro cuenta con prólogo escrito por un autor adscrito a la entedidad (o varios), agregar el o los nombres.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.prologo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de los coordinadores.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar un autor nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Agradecimiento a:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Personas que tuvieron participación en el desarrollo del artículo y se mencionan como agradecimientos, al escribir el inicio del nombre o apellido se filtran
                            los resultados que coincidan con la busqueda.">
            <i class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users"></i></div>
            {{ form.agradecimientos }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de las personas participantes.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/usuarios" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una persona nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Status:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Status de publiciación."><i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.status }}
        </div>
    </div>
    </p>
    <p><strong>Fecha de publicación:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Fecha de publicación del libro."><i
                        class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Número de edición:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de edición.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_edicion }}
        </div>
    </div>
    </p>
    <p><strong>Número de páginas:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número de páginas.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></div>
            {{ form.numero_paginas }}
        </div>
    </div>
    </p>
    <p><strong>Colección:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Editorial que publicó la colección.">
            <i class="fa fa-question-circle"></i>
        </a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.coleccion }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales de la colección seleccionada.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="/nucleo/colecciones" data-toggle="tooltip" data-placement="left" target="_blank"
                   title="Agregar una colección nueva. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Volumen:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Número o letra de volumen de la revista (si aplica)."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.volumen }}
        </div>
    </div>
    </p>
    <div id="d_isbn">
        <p><strong>ISBN:</strong>
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="ISBN, también conocido como Número estándar internacional de libro.">
                <i class="fa fa-question-circle"></i>
            </a> <i class="fa fa-edit"></i>
        <div class="form-group" style="margin-top: -10px;">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                {{ form.isbn }}
            </div>
        </div>
        </p>
    </div>
    <p><strong>URL de link al libro:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="URL de link al libro, en caso de estan publicado en algún lugar en internet."><i
                class="fa fa-question-circle"></i></a>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-link"></i>
            </div>
            {{ form.url }}
        </div>
    </div>
    </p>
    <p><strong>Libro arbitrado por pares: </strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="¿El articulo fue publicado sólo en un medio electronico?."><i class="fa fa-question-circle"></i></a>
        {{ form.arbitrado_pares }}</p>


    <script>
        $('#d_isbn').hide();

        if ($("#id_status").val() == 'PUBLICADO' || $("#id_status").val() == 'EN_PRENSA') {
            $('#d_isbn').show();
        }

        $("#id_status").on('change', function () {
                if ($("#id_status").val() == 'PUBLICADO' || $("#id_status").val() == 'EN_PRENSA') {
                    $('#d_isbn').show('slow');
                    $('#id_isbn').attr("required", "true");
                } else {
                    $("#id_isbn").val("");
                    $('#d_isbn').hide('slow');
                    $('#id_isbn').attr("required", null);
                }
            }
        );
    </script>

    <script>
        //$("#id_usuarios").select2();
        $("#id_autores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $("#id_coordinadores").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $("#id_prologo").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
    </script>

{% endblock %}