{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Tema:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tema o asunto tratado en el medio de divulgación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tema }}
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de elaboración del material, entrevista, o el formato correspondiente a el medio donde se divulga."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo de actividad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de actividad realizada, o responsabilidad en el medio.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.actividad }}
        </div>
    </div>
    </p>
    <p><strong>Medio de divulgación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Medio de divulgación, puede ser periodico, programa de radio, programa de televisiòn, blog, etc.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.medio_divulgacion_text }}
        </div>
    </div>
    </p>

{% endblock %}

{% block form_detalle %}
    <p><strong>Tema:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tema o asunto tratado en el medio de divulgación.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.tema }}
        </div>
    </div>
    </p>
    <p><strong>Fecha:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Fecha de elaboración del material, entrevista, o el formato correspondiente a el medio donde se divulga."><i
                class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            {{ form.fecha }}
        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Tipo de actividad:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Tipo de actividad realizada, o responsabilidad en el medio.">
            <i class="fa fa-question-circle"></i></a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.actividad }}
        </div>
    </div>
    </p>
    <p><strong>Medio de divulgación:</strong>
        <a href="#" data-toggle="tooltip" data-placement="right"
           title="Medio de divulgación, puede ser periodico, programa de radio, programa de televisiòn, blog, etc.">
            <i class="fa fa-question-circle"></i>
        </a> <i class="fa fa-edit"></i>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.medio_divulgacion_text }}
        </div>
    </div>
    </p>
{% endblock %}