{% extends 'main.html' %}

{% block form_agregar %}
    <p><strong>Título de actividad:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Título o nombre de la actividad realizada en el evento.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>

        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Evento:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.evento }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del evento.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un evento nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Evento de divulgación en el que se tuvo participaciòn.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ámbito:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Ámbito del evento."><i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Resumen publicado: </strong>{{ form.resumen_publicado }}</p>
    <p><strong>Participación por invitación: </strong>{{ form.por_invitacion }}</p>
    <p><strong>Ponencia Magistral: </strong>{{ form.ponencia_magistral }}</p>
{% endblock %}

{% block form_detalle %}
    <p><strong>Título de actividad:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
            {{ form.titulo }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Título o nombre de la actividad realizada en el evento.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>

        </div>
    </div>
    </p>
    <p><strong>Descripción: <a href="#" data-toggle="tooltip" data-placement="right"
                               title="Descripción detallada adicional, por ejemplo información que no está contemplada en los demás campos.">
        <i class="fa fa-question-circle"></i></a></strong>
        {{ form.descripcion }}
    </p>
    <p><strong>Evento:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.evento }}
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Mostrar los detalles adicionales del evento.">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Agregar un evento nuevo. Cuando no existe en los registros, aquí se puede dar de alta.">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="input-group-addon">
                <a href="#" data-toggle="tooltip" data-placement="left"
                   title="Evento de divulgación en el que se tuvo participaciòn.">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
    </p>
    <p><strong>Ámbito:</strong>
    <div class="form-group" style="margin-top: -10px;">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-list-alt"></i></div>
            {{ form.ambito }}
            <div class="input-group-addon"><a href="#" data-toggle="tooltip" data-placement="left"
                                              title="Ámbito del evento."><i class="fa fa-question-circle"></i></a></div>
        </div>
    </div>
    </p>
    <p><strong>Resumen publicado: </strong>{{ form.resumen_publicado }}</p>
    <p><strong>Participación por invitación: </strong>{{ form.por_invitacion }}</p>
    <p><strong>Ponencia Magistral: </strong>{{ form.ponencia_magistral }}</p>
{% endblock %}